{% extends 'layout.html' %}

{% set title = '告警设置' %}

{% block head %}
{% from "tango/_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>
{% endblock %}


{% from "tango/_table_h.html" import render_table, render_screen_meta %}
{% block screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms_settings' %}
            {% include 'alarms/_sidebar.html' %}
        </div>
        <div class="span10">
          {% include "_alert.html" %}
          {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

