{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/detail.css" type="text/css" media="all">
{% endblock %}

{% block content %}
<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'eocs' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
            <h5 class="detail-title pull-left"><i class="icon-chevron-down"></i>EOC：{{ node.name }} </h5>
            <div class="btn-group pull-right">
                <!--
                <a class="btn btn-small" href="/nodes/onus/?olt_id={{ node.id }}">查看ONU</a>
                -->
                <a class="btn btn-small" href="/nodes/eocs/edit/{{ node.id }}"><i class="icon-pencil"></i>编辑</a>
            </div>
            <hr class="clear"/>
            <div class="span8" style="margin: 0;">
                <div class="detail">
                <table class="table">
                    <tr>
                        <td  width="17.5%" scope="col">EOC名称</td>
                        <td width="32.5%">{{ node.name }}</td>
                        <td  width="17.5%" scope="col">EOC别名</td>
                        <td>{{ node.alias }}</td>
                    </tr>

                    <tr>
                        <td  width="17.5%" scope="col">EOC状态</td>
                        <td>{{ node.status_name }}</td>
                        <td width="17.5%" scope="col">状态信息</td>
                        <td>{{ node.summary|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">IP 地址</td>
                        <td>{{ node.addr }}</td>
                        <td  width="17.5%" scope="col">MAC地址</td>
                        <td>{{ node.mac|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">厂家型号</td>
                        <td>{{ node.vendor.alias|ifnull }}{{ node.model.alias|ifnull }}</td>
                        <td  width="17.5%" scope="col">子网掩码</td>
                        <td>{{ node.mask|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">所属区域</td>
                        <td>{{ node.area.full_name }}</td>
                        <td width="17.5%" scope="col">上次同步</td>
                        <td>{{ node.last_check|ifnull }}</td>
                    </tr>
                    <tr>
                        <td width="17.5%" scope="col">备注信息</td>
                        <td colspan="3">{{ node.remark|ifnull }}</td>
                    </tr>
                </table>
              </div>
            </div>
            {% from "tango/_chart_h.html" import render_highchart %}
            <div class="span2">
                {{ render_highchart(alarm_chart, height="220px", width="220px") }}
            </div>
            <div class="clear"></div>
        <div style="height:20px"></div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basic_info" data-toggle="tab">流量图</a></li>
                <li><a href="#snmp_info" data-toggle="tab">设备信息</a></li>
                <li><a href="#project_info" data-toggle="tab">工程信息</a></li>
                <li><a href="#port_info" data-toggle="tab">端口信息</a></li>
            </ul>
            <div class="tab-content" >
                <div class="tab-pane active" id="basic_info">
                    {% from "tango/_chart_h.html" import render_highchart %}
                    {{ render_highchart(traffic_chart, height="250px") }}
                </div>
                <div class="tab-pane detail" id="snmp_info">
                    <table class="table">
                        <tr>
                            <td width="17.5%" scope="col">读团体名</td>
                            <td>{{ node.snmp_comm|ifnull }}</td>
                            <td width="17.5%" scope="col">写团体名</td>
                            <td>{{ node.snmp_wcomm|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">SNMP端口</td>
                            <td>{{ node.snmp_port|ifnull }}</td>
                            <td width="17.5%" scope="col">SNMP版本</td>
                            <td>{{ node.snmp_ver|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">硬件版本</td>
                            <td></td>
                            <td width="17.5%" scope="col">软件版本</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">工作模式</td>
                            <td></td>
                            <td width="17.5%" scope="col">无线信道</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">所属ONU</td>
                            <td>{{ node.onu.name }}</td>
                            <td width="17.5%" scope="col">CPE数量</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane detail" id="project_info">
                    <table class="table">
                        <tr>
                            <td width="17.5%" scope="col">维护人员</td>
                            <td>{{ node.owner|ifnull }}</td>
                            <td width="17.5%" scope="col">联系方式</td>
                            <td>{{ node.contact_tel|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">安装地址</td>
                            <td>{{ node.location|ifnull }}</td>
                            <td width="17.5%" scope="col">安装时间</td>
                            <td>{{ node.install_time|ifnull }}</td>
                        </tr>
                    </table>
                </div>
                <div id="port_info" class="tab-pane">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>槽位</th>
                            <th>端口</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>可达速率</th>
                            <th>VLAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

