{% extends 'layout.html' %}

{% set navid = 'alarms' %}

{% set title = "确认告警" %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "tango/_form_h.html" import render_field %}

{% block content %}

    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms' %}
            {% include 'alarms/_sidebar.html' %}
        </div>
        <div class="span10">
        <h3>确认 : {{alarm.node_alias}} / {{alarm.alarm_alias}}</h3>
        
		<form class="form-horizontal" method="POST" action="/alarms/ack/{{alarm.id}}">
			{{ form.hidden_tag() }}
            {{ render_field(form.acked_note) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-small">确认</button>
            </div>
        </form>
        </div>
    </div>

{% endblock %}

