{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% block title %}历史告警{% endblock %}

{% block head %} 

    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">

    {% from "_table_h.html" import render_table_profile %}

    <script type="text/javascript">
        {{ render_table_profile(table) }} 
    </script>

{% endblock %}

{% block screen_meta %} 

    {% from "_table_h.html" import render_screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

    {% from "_table_h.html" import render_table %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'histories' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <form id="history-query-form" class="form-inline" action="{{ url_for('alarms.histories') }}" method="GET">
            <div class="tablenav top">
                <div class="alignleft filters">
                        <select name="last-days" class="input-medium">
                            <option value="1">最近一天</option>
                            <option value="2">最近两天</option>
                            <option value="3">最近一周</option>
                            <option value="4">最近一月</option>
                            <option value="4">全部时间</option>
                        </select>
                        <input type="text" name="nodelike" placeholder="Node Alias or Addr">
                        <input type="submit" name="" id="history-query-submit" class="btn btn-small" value="过滤">
                </div>
            </div>
            {{ render_table(table) }}
            <br class="clear">
            </form>
        </div>
    </div>

{% endblock %}

