{% extends 'layout.html' %}

{% set title = '故障管理' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">

    {% from "_table_h.html" import render_table_profile %}

    <script type="text/javascript">
        {{ render_table_profile(table) }} 
    </script>

    <script type="text/javascript" >

    $(function(){
        $('#alarm-show-model').on('hide', function () {
           $('#alarm-show-body').html(''); 
        })
        $('#alarm-show-model').on('show', function () {
          alert("show");
        })
        alarms_form = $("#alarms-form");
        $("#alarm-clear-action").click(function() {
            var ids = alarms_form.find("input[name^=id]:checked");
            if(ids.length != 1){
                alert("请选择one Alarm!");
                return;
            }
            alarms_form.attr("action", "/alarms/clear/"+ids[0].value).submit();
        })
        $("#alarm-ack-action").click(function() {
            var ids = alarms_form.find("input[name^=id]:checked");
            if(ids.length != 1){
                alert("请选择one Alarm!");
                return;
            }
            alarms_form.attr("action", "/alarms/ack/"+ids[0].value).submit();
        })
    })
    </script>
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %} 

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'alarms' %}
        {% include 'alarms/_sidebar.html' %}
    </div>

    <div class="span10">
        <ul class="subsubsub">
            <li><a href="/alarms">全部<span class="count">({{total}})</span></a>|</li>
            {% for severity, count in severities %}
            <li class="alarm-{{ severity.name }}"><a {% if request.args['severity'] == severity.name %} class="current" {% endif %} href="/alarms?severity={{ severity.name }}">{{ severity.alias }}<span class="count">({{ count }})</span></a> {% if not loop.last %} | {% endif %} </li>
            {% endfor %}
        </ul>
        <div class="tablenav top">
            <div class="alignleft actions">
                <div class="alignleft btn-group">
                    <a id="alarm-ack-action" class="btn btn-small" href="#">确认</a>
                    <a id="alarm-clear-action" class="btn btn-small" href="#">清除</a>
                </div>
            </div>
            <div class="alignleft actions" style="margin:0px 20px;">
                <form id="alarms-form" class="form-inline filter-form" action="/alarms" method="GET">
                {{ filterForm.alarm_class(class="input-small input-low") }}
                {{ filterForm.start_date(class="input-small datepicker input-low", placeholder="开始日期",style="margin-bottom:1px;") }}
                <label for='end_date'>-</label>
                {{ filterForm.end_date(class="input-small datepicker input-low", placeholder="结束日期",style="margin-bottom:1px;") }}
                {{ filterForm.keyword(placeholder='告警或节点名称', class="input-low") }}
                <button type="submit" class="btn btn-small">检索</button>
                </form>
            </div>
            <br class="clear">
        </div>

        {{ render_table(table) }}


        <div id="alarm-show-model" class="modal hide" tabindex="-1" role="dialog">
          <div class="modal-header">
            <h3 id="alarm-show-header">Alarm Detail</h3>
          </div>
          <div id="alarm-show-body" class="modal-body"> </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(".datepicker").datepicker({format: "yyyy-mm-dd"});
</script>
{% endblock %}

