{% extends 'layout.html' %}

{% set title = '故障管理' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">

    {% from "_table_h.html" import render_table_profile %}

    <script type="text/javascript">
        {{ render_table_profile(table) }} 
    </script>

    <script type="text/javascript" >

    $(function(){
        $('#alarm-show-model').on('hide', function () {
           $('#alarm-show-body').html(''); 
        })
        $('#alarm-show-model').on('show', function () {
          alert("show");
        })
        alarms_form = $("#alarms-form");
        $("#alarm-clear-action").click(function() {
            var ids = alarms_form.find("input[name^=id]:checked");
            if(ids.length != 1){
                alert("请选择one Alarm!");
                return;
            }
            alarms_form.attr("action", "/alarms/clear/"+ids[0].value).submit();
        })
        $("#alarm-ack-action").click(function() {
            var ids = alarms_form.find("input[name^=id]:checked");
            if(ids.length != 1){
                alert("请选择one Alarm!");
                return;
            }
            alarms_form.attr("action", "/alarms/ack/"+ids[0].value).submit();
        })
    })
    </script>
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %} 

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'alarms' %}
        {% include 'alarms/_sidebar.html' %}
    </div>

    <div class="span10">
        <ul class="subsubsub">
            <li><a href="/alarms">全部<span class="count">({{total}})</span></a>|</li>
            {% for severity in severities %}
            <li class="alarm-{{ severity.name }}"><a {% if request.args['severity'] == severity.name %} class="current" {% endif %} href="/alarms?severity={{ severity.name }}">{{ severity.alias }}<span class="count">({{ severity.count }})</span></a> {% if not loop.last %} | {% endif %} </li>
            {% endfor %}
        </ul>

        <form method="GET" class="form filter-form">
        {% from 'tango/_search_h.html' import render_keyword, render_advanced %}
        <div class="tablenav top">
            <div class="alignleft actions">
                <div class="alignleft btn-group">
                    <a id="alarm-ack-action" class="btn btn-small" href="#"><i class="icon-ok"></i>确认</a>
                    <a id="alarm-clear-action" class="btn btn-small" href="#">清除</a>
                </div>
            </div>
            <div class="alignleft actions">
                {{ render_keyword(filterForm, "节点名/IP地址/告警名", True) }}
            </div>
            <br class="clear">
        
            {% call render_advanced(request) %}
                <table class="table">
                <tbody>

                <tr>
                <td width="17.5%"> {{ filterForm.alarm_severity.label }} </td>
                <td width="32.5%"> {{ filterForm.alarm_severity(class="input-low ") }} </td>
                <td width="17.5%"> {{ filterForm.alarm_class.label }} </td>
                <td width="32.5%"> {{ filterForm.alarm_class(class="input-low ") }} </td>
                </tr>

                <tr>
                <td width="17.5%"> {{ filterForm.start_date.label }} </td>
                <td width="32.5%"> {{ filterForm.start_date(class="datepicker input-low", placeholder="开始日期",style="margin-bottom:1px;") }} </td>
                <td width="17.5%"> {{ filterForm.end_date.label }} </td>
                <td width="32.5%"> {{ filterForm.end_date(class="datepicker input-low", placeholder="结束日期",style="margin-bottom:1px;") }} </td>
                </tr>

                <tr>
                <td colspan="2">
                <button class="btn btn-small" type="submit">应用</button>
                <button class="btn btn-small" type="reset">重置</button>
                </td>
                </tr>

                </tbody>
                </table>
            {% endcall %}

        </div>
        </form>

        {{ render_table(table) }}

        <div id="alarm-show-model" class="modal hide" tabindex="-1" role="dialog">
          <div class="modal-header">
            <h3 id="alarm-show-header">Alarm Detail</h3>
          </div>
          <div id="alarm-show-body" class="modal-body"> </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(".datepicker").datepicker({format: "yyyy-mm-dd"});
</script>
{% endblock %}

