{% extends 'layout.html' %}

{% set title = '告警详细' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/detail.css" type="text/css" media="all">
{% endblock %}

{% block content %}

    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms' %}
            {% include 'alarms/_sidebar.html' %}
        </div>
        <div class="span10">
        <!-- Title -->
        <h4 class="detail-title pull-left">{{alarm.node.alias}} / {{alarm.alarm_alias}}</h4>
        <!-- Actions -->
        <div class="btn-group pull-right">
            <a id="alarm-ack-action" class="btn btn-small modal-btn" href="{{url_for('alarms.alarms_ack', id=alarm.id)}}">确认</a>
            <a id="alarm-clear-action" class="btn btn-small modal-btn" href="{{url_for('alarms.alarms_clear', id=alarm.id)}}">清除</a>
        </div>
        <div class="clear"></div>
        <!-- Details -->
        <div class="detail">
            <table class="table">
              <tbody>
              <tr>
                <td width="17.5%" scope="col">告警名称:</td><td width="32.5%"><span>{{alarm.alarm_alias}}</span></td>
                <td width="17.5%" scope="col">告警类型:</td><td width="32.5%"><span>{{alarm.alarm_class}}</span></td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">告警级别:</td><td>{{alarm.severity|alarm_severity}}</td>
                <td width="17.5%" scope="col">告警状态:</td><td>{{alarm.alarm_state|alarm_state}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">告警优先级:</td><td>{{alarm.priority}}</td>
                <td width="17.5%" scope="col">告警次数:</td><td>{{alarm.occur_count}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">Manager:</td><td>{{alarm.manager}}</td>
                <td width="17.5%" scope="col">代理:</td><td>{{alarm.agent}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">告警设备:</td><td><a href="{{alarm.node|node_url}}">{{alarm.node.alias}}</a></td>
                <td width="17.5%" scope="col">设备地址:</td><td>{{alarm.node.addr}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">告警源:</td><td>{{alarm.source}}</td>
                <td width="17.5%" scope="col">告警源类型:</td><td>{{alarm.source_class}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">产生时间:</td><td>{{alarm.first_occurrence}}</td>
                <td width="17.5%" scope="col">最后发生时间:</td><td>{{alarm.last_occurrence}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">确认用户:</td><td>{{alarm.acked_user}}</td>
                <td width="17.5%" scope="col">确认时间:</td><td>{{alarm.acked_time|datetimeformat}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">清除用户:</td><td>{{alarm.cleared_user}}</td>
                <td width="17.5%" scope="col">清除时间:</td><td>{{alarm.cleared_time|datetimeformat}}</td>
              </tr>
              <tr>
                <td width="17.5%" scope="col">可能原因:</td><td>{{alarm.probable_cause}}</td>
                <td width="17.5%" scope="col">特定原因:</td><td>{{alarm.specific_problem}}</td>
              </tr>
              <tr rowspan="2">
                <td width="17.5%" scope="col">告警详细:</td><td colspan="3">{{alarm.summary}}</td>
              </tr>
            </tbody>
            </table>
        </div>
        
        <!-- Tabs -->
        <div class="tabbable" style="margin-top:10px;"> 
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">告警日志</a></li>
            <li><a href="#tab2" data-toggle="tab">告警变量</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% if alarm.journals|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <th>时间</th><th>用户</th><th>标题</th><th>详细</th>
                        </thead>
                        <tbody>
                        {% for journal in alarm.journals %}
                        <tr>
                            <td width="20%">{{journal.created_at}}</td>
                            <td>{{journal.user.name}}</td>
                            <td>{{journal.title}} </td>
                            <td>{{journal.summary}} </td>
                        </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                {% else %}
                    <div style="text-align:center;" class="alert alert-block"> 当前没有日志 </div>
                {% endif %}
            </div>
            <div class="tab-pane detail" id="tab2">
                {% if alarm.vars|length > 0 %}
                <table class="table">
                  <tbody>
                    {% for var in alarm.vars %}
                    <tr>
                    <td  width="17.5%" scope="col">{{var.name}}:</td><td>{{var.value}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
            </div>
          </div>
        </div>
        </div>
        <div class="modal hide fade" id="myModal"></div>
    </div>

{% endblock %}

