<div style="margin: 0; display: none;" class="span12 well advance_search_form header">
    <form class="form-horizontal">
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="inputArea">所属区域</label>
                <div class="controls">
                    <input type="text" id="inputArea" class="input-low">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputName">节点名称</label>
                <div class="controls">
                    <input type="text" id="inputName" class="input-low">
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="inputVendor">生产厂家</label>
                <div class="controls">
                    <input type="text" id="inputVendor" class="input-low">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputModel">设备型号</label>
                <div class="controls">
                    <input type="text" id="inputModel" class="input-low">
                </div>
            </div>
        </div>
    </form>
</div>