<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">所有资源</li>
      <li class="active"><a href="#">所有设备</a></li>
      <li><a href="#">所有板卡</a></li>
      <li><a href="#">所有接口</a></li>
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">分类导航</li>
      <li><a href="#">交换机</a></li>
      <li><a href="#">路由器</a></li>
      <li><a href="#">OLT</a></li>
      <li><a href="#">ONU</a></li>
      <li><a href="#">AC</a></li>
      <li><a href="#">AP</a></li>
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">区域导航</li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
</div>

