{{ sidebar('资源浏览', menuid, [
    ('nodes','所有节点', '/nodes'),
    ('cities','区域导航', '/nodes/cities'),
    ])}}

{{ sidebar('资源管理', menuid, [
        ('entrances', '接入点', '/nodes/entrances/'),
        ('routers', '路由器', '/nodes/routers/'),
        ('switches', '交换机', '/nodes/switches/'),
        ('olts', 'OLT', '/nodes/olts/'),
        ('onus', 'ONU', '/nodes/onus/'),
        ('eocs', 'EOC', '/nodes/eocs/'),
        ('cpes', 'CPE', '/nodes/cpes/'),
    ])}}

{{ sidebar('资源统计', menuid, [
    ('areas','区域统计', '/nodes/statistics/areas'),
    ('vendors','厂商统计', '/nodes/statistics/vendors'),
    ('categories','设备分类统计', '/nodes/statistics/categories'),
    ('category_vendors','设备分类厂商统计', '/nodes/statistics/category_vendors'),
    ])}}

