{% extends 'layout.html' %}

{% block head %} {% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block content %}

<div class="row-fluid content">

    <div class="span2">
        {% set menuid = 'cities' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        <ul class="breadcrumb">
            统计区域：
            {% for bread in breadcrumb|reverse %}
                {% if loop.last %}
                    <li class="active">{{bread.name}}</li>
                {% else %}
                    <li><a href="/areas/?base={{bread.id}}">{{bread.name}}</a><span class="divider">/</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        {{ render_table(table) }}
    </div>

</div>

{% endblock %}
