{% extends "layout.html" %}

{% set menuid = 'nodes' %}

{% block head %} {% endblock %}

{% block screen_meta %}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
           class="show-settings">Help</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid"  style="margin-top:30px">
    <div class="span2">
        {% set submenuid = '/nodes/new' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% from "_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.node_edit', id=node.id)}}">
            <legend>修改节点</legend>
            {{ form.hidden_tag() }}
            <div class="span5">
                {{ render_field(form.area_id, class="input-large") }}
                {{ render_field(form.name, id="node-alias", class="input-large") }}
                {{ render_field(form.vendor_id, class="input-large") }}
            </div>
            <div class="span5">
                <div class="row control-group" style="height:30px;"></div>
                {{ render_field(form.addr, class="input-large") }}
                {{ render_field(form.model_id, class="input-large") }}
            </div>
            <fieldset class="span10">
                <legend>SNMP参数</legend>
                <div class="span4">
                    {{ render_field(form.snmp_comm, class="input-large") }}
                    {{ render_field(form.snmp_wcomm, class="input-large") }}
                </div>
                <div class="span4 offset2">
                    {{ render_field(form.snmp_ver, class="input-large") }}
                    {{ render_field(form.snmp_port, class="input-large") }}
                </div>
            </fieldset>
            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <button type="submit" class="btn btn-small">取消</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

