{% extends 'layout.html' %}

{% set menuid = 'nodes' %}

{% block title %}所有节点{% endblock %}

{% block head %}
<script type="text/javascript">
    $(function(){
        $(".advance_search").toggle(
            function() {
                $(".advance_search_form").show();
                $(this).addClass("hidedetail");
            },
            function() {
                $(".advance_search_form").hide();
                $(this).removeClass("hidedetail");
            }
        )
    })
</script>
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

{{ render_screen_meta(table) }}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">Help</a>
    </div>
    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#screen-options-wrap" id="show-settings-link"
        class="show-settings">Screen Options</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid"  style="margin-top:30px">
    <div class="span2">
        {% set submenuid = '/nodes' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
	    <div class="tablenav top">
            <div class="alignleft">
                <form action="" method="get">
                <input type="hidden" name="orderby" value="login">
                <input type="hidden" name="order" value="asc">
                <div class="alignleft btn-group">
                    <a class="btn btn-small" href="/nodes/new">新建</a>
                    <a class="btn btn-small" href="#">删除</a>
                    <a class="btn btn-small" href="#">规划</a>
                    <a class="btn btn-small" href="#">更新规则</a>
                </div>
                </form>
            </div>
            <div class="alignleft form-search" style="height: 26px;">
                <form class="form-inline" action="" method="GET">
                    {% set keyword = 'IP' %}
                    <div class="input-append alignleft" style="margin-left: 20px;">
                        <input type="text" class="input-low" placeholder="{{keyword}}">
                        <button type="submit" class="btn btn-small">确定</button>
                    </div>
                    <div class="alignleft advance_search" title="高级检索"></div>
                </form>
            </div>
        </div>
        {% include "nodes/_search_form.html" %}
        {{ render_table(table) }}

        <br class="clear">

    </div>
</div>

{% endblock %}
