{% extends 'layout.html' %}

{% block head %}
    {{ form.media.render() }}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/node.js"></script>
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'nodes' %}
            {% include 'nodes/_sidebar.html' %}
        </div>
        <div class="span10">
            {% include "_alert.html" %}
            <ul id="status_statistics">
                {% for status in status_statistcs %}
                    <li class="status-{{ status.status }}">
                        <a href="{{ url_for('nodes.nodes', status=status.status) }}">{{ status.name }}<span class="count">({{ status.number }})</span></a>
                    </li>
                {% endfor %}
            </ul>
            <form class="form-horizontal" method="GET" action="{{url_for('nodes.nodes')}}" id="search_form">
                <div class="tablenav top">
                    <div class="pull-left" style="height: 26px;">
                        {% set keyword = '名称、别名或IP' %}
                        <div class="input-append pull-left">
                            {{ form.name(placeholder=keyword,class="input-low input-medium") }}
                            <button class="btn btn-small btn_advance_sarch">检索</button>
                        </div>
                        <div class="pull-left advance_search" title="高级检索"></div>
                    </div>
                    <div class="pull-right actions">
                        <a class="btn btn-small" href="{{ request.url|replace('nodes','nodes.csv') }}" title="Excel导出"><i class="icon-download-alt"></i></a>
                    </div>
                </div>
                {% from "_form_h.html" import render_search_form %}
                {{ render_search_form("{{url_for('nodes.nodes')}}",form.area, form.status, form.category_id, form.vendor_id, form.model_id) }}
            </form>
            <form action="" method="POST" id="node_form">
                {{ render_table(table) }}
            </form>
            <br class="clear">
        </div>
    </div>

{% endblock %}
