{% extends "layout.html" %}

{% set menuid = 'nodes' %}

{% block title %}添加节点{% endblock %}

{% block head %} {% endblock %}

{% block screen_meta %}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">Help</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid"  style="margin-top:30px">
    <div class="span2">
        {% set submenuid = '/nodes/new' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        <h1>添加节点</h1>
        {% from "_form_h.html" import render_field %}
		<form class="form-horizontal" method="POST" id="nodes-new-form" action="/nodes/new">
		    <fieldset>
			{{ form.hidden_tag() }}
			{{ render_field(form.alias, id="node-alias", class="input-medium") }}
			{{ render_field(form.addr, class="input-medium") }}
			<div class="control-group">
			    <div class="controls">
				<button type="submit" class="btn btn-primary">提交</button>
			    </div>
			</div>
		    </fieldset>		    
		</form>
    </div>
</div>

{% endblock %}

