{% extends "layout.html" %}

{% set menuid = 'nodes' %}

{% block head %}
    {{ form.media.render() }}
{% endblock %}

{% block screen_meta %}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">Help</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set submenuid = 'nodes_add' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% from "_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.node_new')}}">
            <legend>新建节点</legend>
            {{ form.as_table(column=2) }}
            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <button type="submit" class="btn btn-small">取消</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

