{% extends "layout.html" %}

{% block head %}
    {{ form.media.render() }}
{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'nodes' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% from "_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.nodes_new')}}">
            <h5><i class="icon-plus"></i> 添加节点</h5>
            <hr/>
            {% from "_form_h.html" import render_field,render_areas %}
            {{ form.hidden_tag() }}
            {{ render_field(form.category_id, class="input-medium") }}
            {{ render_areas(form.cityid, form.town,form.area_id, class="input-small") }}
            {{ render_field(form.name) }}
            {{ render_field(form.alias) }}
            {{ render_field(form.addr) }}
            {{ render_field(form.snmp_comm) }}
            {{ render_field(form.snmp_wcomm) }}
            {{ render_field(form.location) }}
            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <button type="submit" class="btn btn-small">取消</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

