{% extends 'layout.html' %}

{% set menuid = 'nodes' %}

{% block title %}{% endblock %}

{% block head %}
    <style type="text/css">
        .node_table {
            font-size: 12px;
            margin: 0;
            border: none;
            box-shadow: none;
        }
        .node_table th, .node_table td {
            border-top: 1px solid #ffffff;
            line-height: 16px;
        }
        .node_table .head {
            width: 80px;
            background-color: #D9EDF7;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row-fluid content">
    <div class="span2">
        {% set submenuid = 'nodes' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        <h4>
            节点属性
        </h4>
        <div class="btn-group pull-right" style="margin-top: -20px;">
            <a class="btn btn-small" href="#">测试</a>
            <a class="btn btn-small" href="#">Ping</a>
            <a class="btn btn-small" href="/nodes/edit/{{ node.id }}">编辑</a>
        </div>
        <hr/>
        <div class="span8">
        <table class="table node_table">
            <tr>
                <td class="head">所属区域</td>
                <td colspan="3">宁夏银川</td>
            </tr>
            <tr>
                <td class="head">节点名称</td>
                <td>Test节点</td>
                <td class="head">节点类型</td>
                <td>OLT</td>
            </tr>
            <tr>
                <td class="head">工程状态</td>
                <td>工程中</td>
                <td class="head">节点状态</td>
                <td>可用/不可用</td>
            </tr>
            <tr>
                <td class="head">IP 地址</td>
                <td>198.23.98.190</td>
                <td class="head">MAC地址</td>
                <td>5C:4C:A9:16:2E:7B</td>
            </tr>
            <tr>
                <td class="head">厂家型号</td>
                <td>华为MA5616</td>
                <td class="head">子网掩码</td>
                <td></td>
            </tr>
            <tr>
                <td class="head">设备描述</td>
                <td colspan="3"></td>
            </tr>
        </table>
        </div>
            {% from "_chart_h.html" import render_highchart %}
        <div class="span3" style="margin-left: -50px;">
            {{ render_highchart(alarm_chart, height="220px", width="220px") }}
        </div>
        <div class="clear"></div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basic_info" data-toggle="tab">流量图</a></li>
                <li><a href="#snmp_info" data-toggle="tab">SNMP信息</a></li>
                <li><a href="#device_info" data-toggle="tab">设备信息</a></li>
                <li><a href="#board_info" data-toggle="tab">板卡信息</a></li>
                <li><a href="#port_info" data-toggle="tab">端口信息</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="basic_info">
                    {% from "_chart_h.html" import render_highchart %}
                    {{ render_highchart(traffic_chart, height="250px") }}
                </div>
                <div class="tab-pane" id="snmp_info">
                    <table class="table node_table">
                        <tr>
                            <td class="head">维护人员</td>
                            <td></td>
                            <td class="head">SNMP OID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="head">SNMP端口</td>
                            <td>Test节点</td>
                            <td class="head">SNMP版本</td>
                            <td>Approved</td>
                        </tr>
                        <tr>
                            <td class="head">读团体名</td>
                            <td>TB - Monthly</td>
                            <td class="head">写团体名</td>
                            <td>Call in to confirm</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="device_info">
                    <table class="table node_table">
                        <tr>
                            <td class="head">设备名称</td>
                            <td></td>
                            <td class="head">启动时间</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="head">OID索引</td>
                            <td>Test节点</td>
                            <td class="head">设备型号</td>
                            <td>Approved</td>
                        </tr>
                        <tr>
                            <td class="head">所属代理</td>
                            <td>TB - Monthly</td>
                            <td class="head">采集服务器</td>
                            <td>Call in to confirm</td>
                        </tr>
                        <tr>
                            <td class="head">位置</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class="head">设备描述</td>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                </div>
                <div id="board_info" class="tab-pane" style="height: auto; ">
                    <table class="table table-hover port_table">
                        <thead>
                        <tr>
                            <th>槽位</th>
                            <th>板卡类型</th>
                            <th>板卡状态</th>
                            <th>CPU负载</th>
                            <th>内存占用</th>
                            <th>硬件版本</th>
                            <th>软件版本</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="port_info" class="tab-pane">
                    <table class="table table-hover port_table">
                        <thead>
                        <tr>
                            <th>槽位</th>
                            <th>端口</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>可达速率</th>
                            <th>VLAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

