errdb/
web/venv
web/tango/*.pyc
web/tango/ui/*.pyc
web/*.pyc
web/fault/*.pyc
web/nodes/*.pyc
web/users/*.pyc
web/home/*.pyc
web/nodes/*.pyc
web/perf/*.pyc
web/report/*.pyc
web/system/*.pyc
web/topo/*.py
web/*.pyc
web/tango/ui/tables/*.pyc
web/tango/ui/tables/*.pyc
web/topo/*.pyc
web/dashboard/*.pyc
