log
*.log
*.beam
*.app
server/lib/*
server/coord/ebin/*
errdb/
web/venv
\#*
.\#*
*.pyc
*.swp
.idea
.idea/*
*/.idea
*/.idea/*
web/log/*
web/local_settings.py
web/static/file/download/*
web/static/file/upload/*
redis/mkreleasehdr.sh
redis/redis-benchmark
redis/redis-check-aof
redis/redis-check-dump
redis/redis-cli
redis/redis-sentinel
redis/redis-server
redis/dump.rdb
*.config
node/monitd/var/mnesia
node/monitd/lib
node/monitd/var/journal/
