{% macro render_form_title(request, title) %}
<h5><i class="icon-{% if request.endpoint.find('_new') > -1 %}plus{% else %}pencil{% endif %}"></i>{{ title }}</h5><hr>
{% endmacro %}

{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% macro render_csrf_error(form) %}
{% if form.errors.get('csrf_token', None) %}
<div class="alert alert-error">
  <button class="close" data-dismiss="alert">×</button>
  {{ form.errors['csrf_token'][0] }}
</div> 
{% endif %}
{% endmacro %}


<!-- 渲染采集规则表单中的多选框 -->
{% macro render_cron_rule(fields) %}

{% for field in fields %}
  {% if field.errors %}
    {% set has_error = True %}
  {% endif %}
{% endfor %}

<div class="control-group {% if has_error is defined %}error{% endif %}">
    <div class="controls">
      <div class="row-fluid">
          {% for field in fields %}
          <div class="pull-left" style="margin:5px 20px 10px 5px;">
            <label style="margin-bottom: 5px">{{ field.label.text }}:
              {% if field.errors %}
              <span class="help-inline">
	        {{ field.errors[0]|e }}
	      </span>
              {% endif %}
            </label>
            {{ field(style="width: 100px;height:160px;", **kwargs) }}
          </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endmacro %}


{% macro render_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
    <div class="controls">
        {{ field(**kwargs) }}
        {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
        {% if field.errors %}
            <span class="help-inline">
	    {{ field.errors[0]|e }}
	</span>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_radio(field) %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
        <div class="controls" style="line-height: 30px; vertical-align: middle;">
            {% for subfield in field %}
                {{ subfield(style="display: inline; margin:0 4px;") }}{{ subfield.label(style="display: inline; margin:0 8px 0 0;") }}
            {% endfor %}
            {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
            {% if field.errors %}
                <span class="help-inline">
	    {{ field.errors[0]|e }}
	</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_text(field, help = None) -%} 
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
    {{ field(**kwargs)|safe }} <!-- {{ render_errors(field) }} -->
    {% if help %}
		<p class="help-inline">{{ help }}</p>
    {% endif %}
    </div>
</div>        
{%- endmacro %}


{%- macro render_textarea(field, value='', rows=7, cols=40) -%}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
    {{ field(**kwargs)|safe }} <!-- {{ render_errors(field) }} -->
    </div>
</div>   
{%- endmacro %}

{%- macro render_submit(submit_title, cancel_title="", class="btn-primary") -%}
    <div class="form-actions">
        <button class="btn {{ class }}" type="submit">{{ submit_title }}</button>
    </div>
{%- endmacro -%}

{%- macro render_fields(fields, submit_title, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
    {% if legend %}
        <legend>{{legend}}</legend>
    {% endif %}

    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
        {{ field() }}
        {% else %}
        {% if field.type == 'TextField' 
           or field.type == 'PasswordField' %}
            {{ render_text(field) }}
        {% elif field.type == 'TextAreaField' %}
            {{ render_textarea(field) }}
        {% endif %}
        {% endif %}
    {% endfor %}
    
    {{ render_submit(submit_title) }}
  </fieldset>
{%- endmacro -%}


<!-- Query Form -->
{% macro render_filter_options(filters, filter_id) %}
<select name="filter_id">
  <option value>全部</option>
  {% for filter in filters %}
  <option {% if filter_id and filter.id|string ==filter_id %}selected{% endif %} value="{{ filter.id }}">{{ filter.name }}</option>
  {% endfor %}
</select>
{% endmacro %}

<!-- Perf Filter form -->
{% macro render_perf_filter_from(form) %}
<div class="alignleft actions">
  <form id="perf-filter-form" class="form-inline filter-form">
    {{ form.sampletime(size="6") }}
    {{ form.intervals(size="6") }}
    {% if form.categories is defined %} {{ form.categories(size="6") }} {% endif %}
    {{ form.vendors(size="6")}}
    {{ form.models(size="6") }}
    
    <div class="btn-group" style="margin-left: 20px;">
      <button type="submit" class="btn btn-small">应用</button>
      <button type="reset" class="btn btn-small">重置</button>
    </div>
  </form>
</div>

{% endmacro %}

{% macro render_query_form(form) %}
<div style="margin: 15px 0 0 0;" class="span12 well advance_search_form header">      
  <table class="table  table-hover">
      <tbody>
        {% for field in form %}
        {% if loop.index is odd %}<tr>{% endif %}
          <td><label for="{{ field.id }}">{{field.label.text}}</label></td>
          <td>
            {{ field() }}
            {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
            {% if field.errors %}
            <span class="help-inline">
              {{ field.errors[0]|e }}
            </span>
            {% endif %}
          </td>
          {% if loop.index is even %}</tr>{% endif %}
        {% if loop.last and loop.length is odd %}<td colspan="2"></td></tr>{% endif %}
       {% endfor %}
       <tr>
         <td colspan="4">
           <div class="">
             <button type="submit" name="test" style="margin: 0 10px;" class="btn pull-right">应用</button>
           </div>
         </td>
       </tr>
       <tr>
         <td colspan="4">
             <button type="submit" name="save" style="margin: 0 10px;" class="btn pull-right">创建检索条件</button>
             <input type="text" name="filter-name" class="pull-right" />
         </td>
       </tr>
      </tbody>
  </table>
</div>
{% endmacro %}

{% macro render_areas() %}
    {% set field = varargs|last %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
        <div class="controls">
            {% for arg in varargs %}
                {{ arg(**kwargs) }}
            {% endfor %}
            {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
            {% if field.errors %}
                <span class="help-inline">
                    {{ field.errors[0]|e }}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_upload(url, title) %}
    <div id="import_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form method=POST enctype=multipart/form-data action="{{ url }}" style="margin: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 id="myModalLabel">{{ title }}</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-block" style="margin-bottom: 0;text-align: center; padding-right: 14px;" id="select_file">请选择导入文件</div>
            </div>
            <div class="modal-footer">
                <span class="btn btn-success fileinput-button btn-small">
                    <i class="icon-plus icon-white"></i>
                    <span>浏览</span>
                    <input type="file" name="file">
                </span>
                <button class="btn btn-small btn-warning btn-cancel" type="button">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>取消</span>
                </button>
                <button class="btn btn-primary btn-small" type="submit">
                    <i class="icon-upload icon-white"></i>
                    <span>导入</span>
                </button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            $(".fileinput-button input").change(function() {
                var file = this.files[0];
                var size = file.size / 1000
                var type = file.name.substring(file.name.lastIndexOf('.') + 1).toLowerCase()
                var html = "<table width='100%'><tr><td width='70%'>"+file.name+"</td><td width='15%'>"+size+" KB</td><td width='15%'>"+type+"</td></tr></table>"
                $("#select_file").html(html)
            });
            $("#import_form .btn-cancel").click(function() {
                $("#select_file").html('请选择导入文件')
            });
        })
    </script>
{% endmacro %}
    
