{% macro render_sidebar(title, submenuid, items) %}
    <ul class="nav bs-docs-sidenav">
        {% if title != '' %}
            <li class="nav-header popover-title">{{ title }}</li>
        {% endif %}
        {% for id, text, href in items %}
            {% if id == '#divider' %}
                <li class="divider"></li>
            {% else %}
                <li {% if submenuid and submenuid == id %} class="active" {% endif %}>
                <a href="{{ href }}"><i class="icon-chevron-right"></i> {{ text }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
