<!-- render_column -->
{% macro render_column(column, page_url, page) -%}
  <th {{ column.attrs.th.as_html() }} >
    {% if column.orderable %}
      {% if column.subcolumns %}
        {{ column.header}}<br />
        {% for verbose_name, field_name in column.subcolumns %}<a class="subcolumn" 
          href="{{ page_url(page, order_by=field_name)}}">{{verbose_name }}</a>{% if not loop.last %} / {% endif %}{% endfor %}
      {% else %}
        <a href="{{ page_url(page, order_by=column.name) }}">
          <span>{{ column.header }}</span> <span class="sorting-indicator"></span>
        </a>
      {% endif %}
      
    {% else %}
      {{ column.header }}
      {% if column.subcolumns %}
        <br /> {{ column.subcolumns_header}}
      {% endif %}
    {% endif %}
  </th>
{%- endmacro %}

  
<!-- render_paginate -->
{% macro render_paginate(page_obj, page_url) -%}
  <div class="pagination pagination-right">
    <div class="num-info">
      <span>当页 <strong>{{ page_obj.items|length }}</strong> 项 / 总共 <strong>{{ page_obj.total }}</strong> 项</span>
    </div>
    {% if page_obj.pages > 1 %}
      <ul>
        {% if page_obj.has_prev %}
          <li><a href="{{ page_url(page_obj.prev_num) }}">«</a></li>
        {% else %}
          <li class="disabled"><a>«</a></li>
        {% endif %}
        
        {% for i in page_obj.iter_pages(right_current=2) %}
          {% if i %}
            {% if i != page_obj.page %}
              <li><a href="{{ page_url(i)}}">{{ i }}</a></li>
            {% else %}
              <li class="active"><a >{{ i }}</a></li>
            {% endif %}
          {% else %}
            <li><a>...</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="{{ page_url(page_obj.next_num) }}">»</a></li>
        {% else %}
          <li class="disabled"><a>»</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}


<!-- render pagination the wordpress style -->
{% macro render_paginate_wordpress(page_obj, page_url) %}
<div class="tablenav bottom">
    <div class="tablenav-pages"><span class="displaying-num">{{ page_obj.total }} items</span>
	<span class="pagination-links">
	    <a class="first-pag {% if page_obj.page==1 %}disabled{% endif %}"
	       title="Go to the first page" href="{{ page_url(1) }}">«</a>
	    {% if page_obj.has_prev %}
	    <a class="prev-page" title="Go to the previous page" href="{{ page_url(page_obj.prev_num) }}">‹</a>
	    {% endif %}
	    <span class="paging-input">{{ page_obj.page }} of <span class="total-pages">{{ page_obj.pages }}</span></span>
	    
	    {% if page_obj.has_next %}
	    <a class="next-page" title="Go to the next page" href="{{ page_url(page_obj.next_num) }}">›</a>
	    {% endif %}
	    <a class="last-page {% if page_obj.page==page_obj.pages %}disabled{% endif %}"
	       title="Go to the last page" href="{{ page_url(page_obj.pages) }}">»</a></span>
    </div>
    <br class="clear">
</div>
{%- endmacro %}

<!-- render_table -->
{% macro render_table(table) -%}
<table class="wp-list-table widefat fixed" cellspacing="0">
    <thead>
	<tr>
	    {% for column in table.columns %}
	    {{ render_column(column, table.page_url, table.page_obj.page) }}
	    {% endfor %}
	</tr>
    </thead>
    
    <tbody id="the-list" >
	{% for row in table.rows %}
        
	<tr class="{{ loop.cycle('alternate-white', '') }}">
	    {% for column, cell, cellattrs in row.items %}
	    {% if column.is_checkbox %}
            <th {{ column.attrs.th.as_html(scope="row") }} >
              {% if table.actions %}
            <div class="row-actions">
              <div class="btn-group">
                {% for action in table.actions %}
                {{ action.render(row.record) }}
                {% endfor %}
                <br>
              </div>
            </div>
            {% endif %}
            {{ cell | ifnull }}
            </th>
	    {% else %}
            <td {{ column.attrs.td.as_html(**cellattrs) }}>{{ cell | ifnull }}</td>
	    {% endif %}
	    {% endfor %}
	</tr>
    {% else %}
    <tr>
        <td colspan="{{ table.columns|length }}" class="colspanchange">
          <div class="alert alert-block" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            当前没有数据
          </div>
        </td>
    </tr>
	{% endfor %}
    </tbody>
</table>
{% if table.page_obj.total  %}{{ render_paginate(table.page_obj, table.page_url) }}{% endif %}
{%- endmacro %}


<!-- Screen Meta -->
{% macro render_screen_meta(table) -%}

<div id="screen-meta" class="metabox-prefs" style="display: none; ">
    <div id="contextual-help-wrap" class="hidden">
	<div id="contextual-help-columns">
            <div class="contextual-help-tabs-wrap">
                <div id="tab-panel-overview" class="help-tab-content active">
                    <p>{{ table.helpdoc }}</p>
                </div>
            </div>
	</div>
    </div>

    <div id="screen-options-wrap" class="hidden" style="display: none; ">
	<form id="table-settings" class="form-inline" action="" method="post">
	    <h5>显示选项</h5>
	    <div class="metabox-prefs">
              <input id="hidden-columns" type="hidden" name="hidden-columns" value="" />
		{% for column in table.columns %}
		{% if not column.is_checkbox %}
		<label for="{{ column.name }}-hide">
		    <input class="hide-column-tog" name="{{ column.name }}-hide" type="checkbox"
			   id="{{ column.name }}-hide" value="{{ column.name }}"
                           {% if column.name not in table.hidden_columns %} checked="checked" {% endif %} >{{ column.header }}
        </label>
		{% endif %}
		{% endfor %}
		<br class="clear">
	    </div>
	</form>
	<form class="form-inline" action="/settings/profile" method="GET">
	    <div class="screen-options">
		<input type="number" step="1" min="1" max="999" class="screen-per-page"
		       name="value" id="users_per_page" maxlength="3" value="{{ table.page_obj.per_page }}">
		<label for="users_per_page">行</label>
		<input type="submit" name="screen-options-apply" id="screen-options-apply" class="btn btn-small" value="应用">
		<input type="hidden" name="grp" value="{{ table._meta.profile}}">
		<input type="hidden" name="key" value="{{ table.profile_perpage_key }}">
	    </div>
	    <!-- <div><input type="hidden" id="screenoptionnonce" name="screenoptionnonce" value="24b7ebf309"></div> -->
	</form>
    </div>
</div>

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">帮助</a>
    </div>
    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#screen-options-wrap" id="show-settings-link"
        class="show-settings">显示选项</a>
    </div>
</div>

{%- endmacro %}


{% macro render_table_profile(table) %}
    var userSettings = {
        ajaxurl : '/settings/profile',
        grp : '{{ table._meta.profile}}',
        key : '{{ table.profile_hiddens_key }}',
    };
{% endmacro %}

