{% extends 'layout.html' %}

{% set title = '阀值管理' %}

{% block head %}

{% from "_table_h.html" import render_table_profile %}
<script type="text/javascript">
  {{ render_table_profile(table) }}
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta, render_modal %}

{% block screen_meta %} {{ render_screen_meta(table) }} {% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'thresholds' %}
            {% include "system/_sidebar.html" %}
        </div>
        <div class="span10">
          {% include "_alert.html" %}
          <div class="tablenav top">
            <div class="alignleft actions">
              <div class="alignleft btn-group">
                <a class="btn btn-small" href="/system/thresholds/new"><i class="icon-plus"></i>新建阀值</a>
              </div>
            </div>
            <div class="alignleft actions">
              <form class="form-inline filter-form input-append" method="GET" action="{{url_for('system.thresholds')}}">
                <input type="text" name="keyword" class="input-low" value="{{ keyword }}" />
                <button class="btn btn-small">检索</button>
              </form>
            </div>
            <br class="clear">
          </div>

          {{ render_table(table) }}
        </div>
    </div>
{% endblock %}


