{% extends 'layout.html' %}

{% set title = '交换机性能' %}

{% block head %}

    <link rel="stylesheet" href="/static/css/perf.css" type="text/css" media="all">

    <script type="text/javascript">
    $(function(){
      $('#sampletime').change(function(){
          var key = $(this).find(':selected').val();
          console.log(key);
          $.get('/perf/switches/intervals',
                {'key': key},
                function(data){
                    var data = eval("("+data+")");
                    for(var i in data) {
                    }
                }
          );
      });
      $('#vendors').change(function(){
          var keys = [];
          $(this).find(':selected').each(function(){
              keys.push($(this).val());
          });
          console.log(keys);
      });
    });        
    </script>
{% endblock %}

{% block screen_meta %}
    {% from '_table_h.html' import render_screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'switches' %}
            {% include "perf/_sidebar.html" %}
        </div>
        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions">
                    <form id="perf-filter-form" class="form-inline filter-form">
                        {{ filterForm.sampletime(size="6", class="input-small") }}
                        {{ filterForm.intervals(multiple="true", size="6", class="input-small") }}
                        {{ filterForm.vendors(multiple="true", size="6", class="input-small") }}
                        {{ filterForm.models(multiple="true", size="6", class="input-small") }}
                        
                    <div class="btn-group btn-group-vertical">
                      <button type="submit" class="btn btn-small">应用</button>
                      <button type="reset" class="btn btn-small">重置</button>
                    </div>
                    </form>
                </div>
                <div class="pull-right actions">
                    <a title="Excel导出" href="#" class="btn btn-small"><i class="icon-download-alt"></i></a>
                </div> 
                <br class="clear">
            </div>
            {% from '_table_h.html' import render_table %}
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}
