{% extends 'layout.html' %}

{% set title = '交换机性能' %}

{% block head %}

    <link rel="stylesheet" href="/static/css/perf.css" type="text/css" media="all">

    <script type="text/javascript">
    function updateSelectField(data, fieldId){
        var data = eval("("+data+")");
        opts = [];
        for(var i in data) {
            opts.push('<option value="'+data[i][0]+'">'+data[i][1]+'</option>');
        }
        $(fieldId).html(opts.join(''));
    }
    $(function(){
      $('#sampletime').change(function(){
          var key = $(this).find(':selected').val();
          $.get('/perf/switches/intervals', {'key': key},
                function(data){
                    updateSelectField(data, '#intervals');
                });
      });
        
      $('#vendors').change(function(){
          var vendors = [];
          $(this).find(':selected').each(function(){
              vendors.push($(this).val());
          });
          $.get('/perf/switches/models', {'vendors': vendors},
                function(data){
                    updateSelectField(data, '#models');
                });
      });
    });        
    </script>
{% endblock %}

{% block screen_meta %}
    {% from '_table_h.html' import render_screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'switches' %}
            {% include "perf/_sidebar.html" %}
        </div>
        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions">
                    <form id="perf-filter-form" class="form-inline filter-form">
                        {{ filterForm.sampletime(size="6", class="input-small") }}
                        {{ filterForm.intervals(size="6", class="input-small") }}
                        {{ filterForm.vendors(size="6", class="input-small") }}
                        {{ filterForm.models(size="6", class="input-small") }}
                        
                    <div class="btn-group btn-group-vertical">
                      <button type="submit" class="btn btn-small">应用</button>
                      <button type="reset" class="btn btn-small">重置</button>
                    </div>
                    </form>
                </div>
                <div class="pull-right actions">
                    <a title="Excel导出" href="#" class="btn btn-small"><i class="icon-download-alt"></i></a>
                </div> 
                <br class="clear">
            </div>
            {% from '_table_h.html' import render_table %}
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}
