{% from "_sidebar_h.html" import render_sidebar %}

{{ render_sidebar('告警管理', submenuid, [
        ('当前告警', '/fault'),
        ('检索条件', '/fault/queries'),
        ('创建检索', '/fault/queries/new'),
        ('历史告警', '/fault/histories')])
}}

{{ render_sidebar('告警统计', submenuid, [
        ('实时统计', '/fault/stats/active'),
        ('历史统计', '/fault/stats/history')])
}}

{{ render_sidebar('告警设置', submenuid, [
        ('基本设置', '/fault/settings'),
        ('告警过滤', '/fault/queries'),
        ('告警知识库', '/fault/knowledges')])
}}
