{% extends 'layout.html' %}

{% set menuid = 'fault' %}

{% block title %} 故障管理 {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %} 

{{ render_screen_meta(table) }}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">帮助</a>
    </div>
    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#screen-options-wrap" id="show-settings-link"
        class="show-settings">显示选项</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:30px;">
    <div class="span2">
        {% set submenuid = 'alarms' %}
        {% include 'fault/_sidebar.html' %}
    </div>

    <div class="span10">
        <form id="alarms-form" class="form-inline" action="/fault/alarms" method="GET">

        <ul class="subsubsub">
            {% for severity in severities %}
            <li class="alarm-{{ severity.name }}"><a href="/fault/?severity={{ severity.id }}">{{ severity.alias }}<span class="count">({{ severity.count }})</span></a> {% if not loop.last %} | {% endif %} </li>
            {% endfor %}
        </ul>
        <div class="tablenav top">
            <div class="alignleft actions">
                <div class="alignleft btn-group">
                    <input type="submit" name="ack" id="alarm-ack-submit" class="btn" value="确认">
                    <input type="submit" name="clear" id="alarm-clear-submit" class="btn" value="清除">
                </div>
            </div>
            <div class="alignleft filters">
                <select name="severity" class="input-medium">
                    <option selected="selected" value="-1">告警级别</option>
                    {% for severity in severities %}
                        <option value="{{ severity.id }}">{{ severity.alias }}</option>
                    {% endfor %}
                </select>

                <select name="query_id" class="input-medium">
                    <option value="-1">自定义检索条件</option>
                    {% for q in queries %}
                        <option value="{{q.id}}">{{q.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="filter" id="alarm-query-submit" class="btn btn-small" value="过滤">
            </div>
        </div>

        {{ render_table(table) }}

        <br class="clear">

        </form>
    </div>
</div>

{% endblock %}

