{% extends 'layout.html' %}

{% set menuid = 'fault' %}

{% block title %} 故障管理 {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %} 

{{ render_screen_meta(table) }}

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link"
        class="show-settings">帮助</a>
    </div>
    <div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#screen-options-wrap" id="show-settings-link"
        class="show-settings">显示选项</a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:30px;">
    <div class="span2">
        {% set submenuid = 'alarms' %}
        {% include 'fault/_sidebar.html' %}
    </div>

    <div class="span10">
        <form id="alarms-form" class="form-inline" action="/fault/alarms" method="GET">

        <ul class="subsubsub">
            {% for severity in severities %}
            <li class="alarm-{{ severity.name }}"><a {% if request.args['severity'] == severity.name %} class="current" {% endif %} href="/fault/alarms?severity={{ severity.name }}">{{ severity.alias }}<span class="count">({{ severity.count }})</span></a> {% if not loop.last %} | {% endif %} </li>
            {% endfor %}
        </ul>
        <div class="tablenav top">
            <div class="alignleft actions">
                <select name="action" class="input-medium">
                    <option value="-1">操作</option>
                    <option value="ack">确认</option>
                    <option value="clear">清除</option>
                </select>
                <input type="submit"  id="alarm-action-submit" class="btn btn-small" value="应用">
            </div>
            <div class="alignleft filters">

                <select name="query_id" class="input-medium">
                    <option value="-1">全部告警</option>
                    {% for q in queries %}
                        <option value="{{q.id}}">{{q.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="filter" id="alarm-query-submit" class="btn btn-small" value="过滤">
            </div>
        </div>

        {{ render_table(table) }}

        <br class="clear">

        </form>
    </div>
</div>

{% endblock %}

