{% extends 'layout.html' %}

{% block content %} 

<div class="row-fluid content">

    <div class="span2">
      {% set menuid = 'topo/network' %}
      {% include 'topo/_sidebar.html' %}
      <div class="well">
        <form method="GET" action="{{url_for('topo.network')}}">
          <input type="hidden" name="area_id" value="{{area_id}}" />
          <input type="hidden" name="node_id" value="{{node_id}}" />
          <div class="control-group ">
            <label class="control-label" for="prog">布局</label>
            <div class="controls">
              <select id="prog" name="prog" style="width:auto;">
                {% for p in ('dot', 'twopi', 'neato') %}
                <option value="{{p}}" {% if p == prog %}selected{% endif %} >{{p}}</option>
                {% endfor %}
              </select>
            </div>
          </div>          

          <div class="control-group ">
            <label class="control-label" for="level">显示级数</label>
            <div class="controls">
              <select id="level" name="level" style="width:auto;">
                {% for i in range(1, 7) %}
                <option value="{{i}}" {% if i == level %}selected{% endif %}>{{i}}</option>
                {% endfor %}
              </select>
            </div>
          </div>          
          <input type="submit" class="btn btn-primary" value="提交" />
        </form>
      </div>

    </div>

    <div class="span10">
      
        <ul class="breadcrumb">
            区域路径：
            {% for bread in breadcrumb|reverse %}
                {% if loop.last %}
                    <li class="active">{{bread.name}}</li>
                {% else %}
                    {% set area_id, node_id = bread.id, '' %}
                    
                    {% if bread.__class__.__name__ == 'Node' %}
                    {% set node_id = bread.id %}
                    {% endif %}
                    
                    <li><a href="{{ url_for('topo.network',
                        node_id=node_id, area_id=area_id, prog=prog, level=level) }}">
                        {{bread.name}}</a><span class="divider">/</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div id="container" >
          {{ svg|safe }}
        </div>
        </div>
    </div>

</div>

{% endblock %}
