{% extends 'layout.html' %}
{% set title="Node-Link Tree (Radial)" %}

{% block head %}
    <script type="text/javascript" src="/static/js/topo/d3.v2.js"></script>
    <script type="text/javascript" src="/static/js/topo/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/static/js/topo/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/static/js/topo/test.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/js/topo/test.css"/>
    <link type="text/css" rel="stylesheet" href="/static/js/topo/jquery.contextMenu.css"/>
{% endblock head %}

    
{% block content %}
    <div class="row-fluid content">
      <div class="span2">
        {% set menuid = 'topo-test' %}
        {% include "topo/_sidebar.html" %}
      </div>
      
      <div class="span10">
        <div id="panel">
          <div id="toolbar">
            <div id="zoom" class="btn-group tb-item">
              <button type="button" id="zoom-out" class="btn btn-small"><i class="icon-minus"></i></button>
              <button type="button" id="zoom-in" class="btn btn-small"><i class="icon-plus"></i></button>
              <button type="button" id="zoom-reset" class="btn btn-small">1:1</button>
            </div>
            
            <form method="GET" class="form filter-form tb-item">
              {% from 'tango/_search_h.html' import render_keyword %}
              {{ render_keyword(form, "节点名称") }}
            </form>
            <div id="info" class="tb-item"></div>
            <br class="clear" />
          </div>
         <div id="chart"></div>
        </div>
      </div>
    </div>
{% endblock content %}

