{% extends 'layout.html' %}
{% set title="Node-Link Tree (Radial)" %}
{% block head %}
    <script type="text/javascript" src="/static/js/topo/d3.v2.js"></script>
    <script type="text/javascript" src="/static/js/topo/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/static/js/topo/jquery.contextMenu.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/js/topo/tree.css"/>
    <link type="text/css" rel="stylesheet" href="/static/js/topo/jquery.contextMenu.css"/>
    <style type="text/css" media="screen">
    #chart {
        float: left;
        font-family: Times, "宋体";
    }
    #toolbar {
        float: left;
        width: 100px;
        margin-left: -120px;
        padding: 8px;
    }
    #zoom {
        float: right;
    }
    #info {
        color: #777;
        padding: 8px;
        margin: 6px 0;
        border-radius: 6px;
        border: 1px dotted #DFDFDF;
    }
    #info ul {
        margin: 0;
    }
    #info ul li {
        border-bottom: 1px dotted #EFEFEF;
    }
    
    svg {
        background-color: #FAFAFA;
        border-radius: 12px;
        border: 1px solid #999;
        font-family: Times, "宋体";
    }
    rect {
        fill: #FAFAFA;
    }

    .node circle {
        stroke: #D5D5D5;
        stroke-width: 1px;
    }

    .node {
        font: 10px sans-serif;
    }


    .node text{
        fill: #333;
    }

    .link {
        fill: none;
        stroke: #BBB;
        stroke-width: 1.5px;
    }
    #help ul {
      margin: 0;
    }
    #help ul li {
        float: left;
        background: #FFD;
        border: 1px solid #999;
        border-radius: 6px;
        padding: 6px 12px;
        margin: 0px 6px 6px 2px;
    }
    </style>
{% endblock head %}
    
{% block content %}
    <div class="row-fluid content">
      <div class="span2">
        {% set menuid = 'topo-test' %}
        {% include "topo/_sidebar.html" %}
      </div>
      
      <div class="span10">
        <div id="print">
          <div id="chart"></div>
          <div id="toolbar">
            <div id="info">
              <ul>
                <li><strong>Information</strong></li>
                <li>Apple</li>
                <li>Twitter</li>
                <li>IBM</li>
                <li>Facebook</li>
              </ul>
            </div>
            <div id="zoom" class="btn-group ">
              <button type="button" id="zoom-out" class="btn"><i class="icon-minus"></i></button>
              <button type="button" id="zoom-in" class="btn"><i class="icon-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
    $('.dropdown-toggle').dropdown();
//////////////////////////////////////////////
var radius = 600 / 2;
zoomTime = 4.5;
/**
 * 4级: 4.5/600 --> 3/400
 */
var tree = d3.layout.tree()
    .size([360, radius * zoomTime * 0.8])
    .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

var diagonal = d3.svg.diagonal.radial()
    .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

var width = radius * 2,
height = radius * 2;

var x = d3.scale.linear()
    .domain([-width / 2, width / 2])
    .range([0, width]);

var y = d3.scale.linear()
    .domain([-height / 2, height / 2])
    .range([height, 0]);


function getTransform(selector){
    var transform = $(selector).attr("transform");
    console.log($(selector).attr("transform"));
    if (!transform){
        transform = "translate(0,0)scale(1)";
    }
    var re = /^translate\((\S+),(\S+)\)scale\((\S+)\)/;
    var arr = re.exec(transform);
    return arr
}

var dragGroup = d3.behavior.drag()
    .on('dragstart', function() {
        console.log('Start Dragging Group');
    })
    .on('drag', function(d, i) {
        d.x += d3.event.dx;
        d.y += d3.event.dy;
        d3.select(this).attr("transform", "translate(" + d.x + "," + d.y + ")scale("+ 1.0/zoomTime+")");
    });

var vis = d3.select("#chart").append("svg")
    .attr("width", radius * 2 + 200)
    .attr("height", radius * 2)
    .append("g")
    .data([{x:(radius+100),y:radius}])
    .attr("transform", "translate(" + (radius+100) + "," + radius + ")scale("+ 1.0/zoomTime+")")
    .call(dragGroup)
    .append("g");

vis.append("rect")
    .attr("width", radius * 2 * zoomTime) // 3 = 1 / 0.33
    .attr("height", radius * 2 * zoomTime)
    .attr("transform", "translate(" + -radius*zoomTime + "," + -radius*zoomTime + ")");



d3.json("/topo/test.json?na=6&nb=10&nc=10", function(json) {
    var nodes = tree.nodes(json);

    var link = vis.selectAll("path.link")
        .data(tree.links(nodes))
        .enter().append("path")
        .attr("class", "link")
        .attr("d", diagonal);

    var node = vis.selectAll("g.node")
        .data(nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; });

    node.append("svg:image")
        .attr("xlink:href", function(d){return "http://ww2.sinaimg.cn/large/412e82dbjw1dsbny7igx2j.jpg";})
        .attr("x", "-32px")
        .attr("y", "-32px")
        .attr("width", "64px")
        .attr("height", "64px");

    node.append("circle")
        .style("fill", function(d) { return d.status == 0 ? "red" : "green"})
        .attr("r", 4.5);

    node.append("text")
        .attr("dy", ".31em")
        .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
        .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
        .text(function(d) { return d.name; });
});

function zoom() {
    console.log(d3.event.translate, d3.event.scale);
    vis.attr("transform", "translate(" + d3.event.translate + ")");
}

$('#zoom-in').click(function(){
    var arr = getTransform('svg>g>g')
    var scale = 1.0;
    if (arr.length>3){
        f = parseFloat(arr[3]);
        scale = f < 6.0 ? f * 1.1 : f;
    }
    $('svg>g>g').attr('transform', "translate("+arr[1]+","+arr[2]+")scale("+scale+")");
});

$('#zoom-out').click(function(){
    var arr = getTransform('svg>g>g')
    var scale = 1.0;
    if (arr.length>3){
        f = parseFloat(arr[3]);
        scale = f > 1.0 ? f / 1.1 : 1.0;
    }
    $('svg>g>g').attr('transform', "translate("+arr[1]+","+arr[2]+")scale("+scale+")");
});


// Right click menu
$.contextMenu({
    selector: '.node', 
    callback: function(key, options) {
        var m = "clicked: " + $(this).find('text').text() + "\r\n\r\nAction: "
            + key + "\r\n\r\nTarget: " + $(this).find('a').attr('href');
        window.console && console.log(m) || alert(m); 
    },
    items: {
        "view": {name: "View", callback:function(key, options){
            window.location = $(this).find('a').attr('href');
        }},
        "edit": {name: "Edit", icon: "edit"},
        "cut": {name: "Cut", icon: "cut"},
        "copy": {name: "Copy", icon: "copy"},
        "paste": {name: "Paste", icon: "paste"},
        "delete": {name: "Delete", icon: "delete"},
        "sep1": "---------",
        "quit": {name: "Quit", icon: "quit"}
    }
});
</script>
{% endblock content %}

