{% extends 'layout.html' %} 
{% set title = '用户管理' %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}
{{ render_screen_meta(table) }}
{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:20px">

    <div class="span2">
      {% set menuid = 'domains' %}
      {% include "users/_sidebar.html" %}
    </div>

    <div class="span10">
      {% include "_alert.html" %}
      <div class="tablenav top">
        <div class="alignleft actions">
          <div class="alignleft btn-group">
            <a class="btn btn-small" href="{{url_for('users.domains_new')}}"><i class="icon-plus"></i>新建</a>
            <button class="btn btn-small"><i class="icon-remove"></i>删除</button>
          </div>
        </div>

        <div class="alignleft actions" style="margin-left: 20px;">
          <form class="form-inline filter-form" action="" method="GET">
            <input type="text" name="keyword" value="{{keyword}}" class="input-medium input-low" placeholder="关键词">
            <button type="submit" class="btn btn-small">Filter</button>
          </form>
        </div>

        <div class="alignright actions">
          <a class="btn btn-small"
             href="#"><i class="icon-download-alt"></i></a>
        </div>
        <br class="clear">
      </div>
      {{ render_table(table) }}
    </div>

</div>

{% endblock %}

