{% extends 'layout.html' %} 
{% set title = '用户管理' %}

{% block head %} 

{% from "tango/_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "tango/_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}
{{ render_screen_meta(table) }}
{% endblock %}

{% block content %}

<div class="row-fluid content">

    <div class="span2">
      {% set menuid = 'domains' %}
      {% include "users/_sidebar.html" %}
    </div>

    <div class="span10">
      {% include "_alert.html" %}

    <form method="GET" class="form filter-form">
    {% from 'tango/_search_h.html' import render_keyword %}

      <div class="tablenav top">
        <div class="alignleft actions">
          <div class="alignleft btn-group">
            <a class="btn btn-small" href="{{url_for('users.domains_new')}}"><i class="icon-plus"></i>新建管理域</a>
              <a class="btn btn-small" id="multi-delete-btn"
                 href="{{ url_for('users.domains_delete_all') }}"><i class="icon-remove"></i>删除</a>
          </div>
        </div>

        <div class="alignleft actions">
            {{ render_keyword(form, "名称") }}
        </div>

        <div class="alignright actions">
          <a class="btn btn-small"
             href="#"><i class="icon-download-alt"></i></a>
        </div>
        <br class="clear">
      </div>
    </form>
      {{ render_table(table) }}
    </div>
    <div class="modal hide fade" id="myModal"></div>
</div>

{% endblock %}

