{% extends 'layout.html' %}

{% set title = '添加用户' %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery.dynatree.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<link href="/static/css/dynatree/skin-vista/ui.dynatree.css"
      rel="stylesheet" type="text/css" id="skinSheet">

<script type="text/javascript">
$(document).ready(function(){
  $("#tree").dynatree({
    checkbox: true,
    selectMode: 2,
    initAjax: {
      url     : "{{url_for('users.domain_load_nodes')}}",
      data    : {
        domain_areas: "{{domain_areas}}"
      }
    },
    onLazyRead: function(node){
      node.appendAjax({
        url     : "{{url_for('users.domain_load_nodes')}}",
        data    : {
          key: node.data.key,
        }
      });
    },
    
    onSelect: function(select, node) {
      // Display list of selected nodes
      var selNodes = node.tree.getSelectedNodes();
      // convert to title/key array
      var selKeys = $.map(selNodes, function(node){
        return node.data.key;
      });
      $("#domain-areas").val(selKeys.join(","));
    },
    onClick: function(node, event) {
      // We should not toggle, if target was "checkbox", because this
      // would result in double-toggle (i.e. no toggle)
      if( node.getEventTargetType(event) == "title" )
        node.toggleSelect();
    },
    onKeydown: function(node, event) {
      if( event.which == 32 ) {
        node.toggleSelect();
        return false;
      }
    },
    // The following options are only required, if we have more than one tree on one page:
    cookieId: "dynatree-Cb2",
    idPrefix: "dynatree-Cb2-",
  });
});

</script>
{% endblock %}

{% from "_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
      {% if request.endpoint == 'users.domains_new' %}
          {% set menuid = 'domains-new' %}
      {% endif %}      
      {% include "users/_sidebar.html" %}
    </div>
    
    <div class="span10">
	<div class="row-fluid">
	    <div class="">
		<form class="form-horizontal" method="POST" id="test-wtf" action="{{action}}">
                  {{ render_form_title(request, title) }}
		  <fieldset>
			{{ form.hidden_tag() }}
			{{ render_field(form.name) }}
                        <div  class="control-group">
                          <label class="control-label" for="tree">行政区域</label>
                          <div class="controls">
                            <div class="well" style="background-color:#FCFCFC;">
                              <div id="tree"> </div>
                            </div>
                            <input type="hidden" id="domain-areas" name="domain_areas" value="{{domain_areas}}" />
                          </div>
                        </div>
                        {{ render_field(form.description) }}
			<div class="form-actions span10">
			    <div class="controls">
				<button type="submit" class="btn btn-primary">确定</button>
				<a href="#" class="btn">取消</a>
			    </div>
			</div>
		    </fieldset>		    
		</form>
	    </div>
	</div>
        <br class="clear">
    </div>
</div>

{% endblock %}
