{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
    {{ form.media.render() }}

    <script type="text/javascript" src="/static/js/node.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#cityid").select_change_ajax({
                id: "parent_id",
                url: "{{ url_for('nodes.ajax_towns_for_city') }}",
                option: "请选择区县"
            });
        })
    </script>
{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'cities' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
        {% from "tango/_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.branches_edit', id=area.id)}}">
            <h5><i class="icon-pencil"></i>修改分局</h5>
            <hr/>
            {% from "tango/_form_h.html" import render_field,render_areas %}
            {{ form.hidden_tag() }}
            {{ render_areas(form.cityid, form.parent_id, class="input-small") }}
            {{ render_field(form.name) }}
            {{ render_field(form.alias) }}
            {{ render_field(form.longitude) }}
            {{ render_field(form.latitude) }}
            {{ render_field(form.remark) }}

            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <input id="next" name="next" type="hidden" value="{{ next }}">
                <a href="javascript:document.location.href='{{ next }}'; return false;" class="btn btn-small">取消</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

