{% extends 'layout.html' %}

{% block head %}
    <style type="text/css">
        .widefat tbody th.check-column {
            padding: 7px 0 7px 0;
        }
    </style>
    <script type="text/javascript" src="/static/js/node.js"></script>
{% endblock %}

{% from "tango/_table_h.html" import render_table, render_screen_meta %}
{% block screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}

<div class="row-fluid content">

    <div class="span2">
        {% set menuid = 'cities' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
        <form class="form-horizontal" method="GET" action="{{url_for('nodes.branches')}}" id="search_form" style="margin-bottom: 0;">
            <div class="tablenav top">
                <div>
                    <input type="hidden" name="orderby" value="login">
                    <input type="hidden" name="order" value="asc">
                    <div class="btn-group">
                        <a class="btn btn-small" href="{{ url_for('nodes.branches_new') }}"><i class="icon-plus"></i>添加分局</a>
                    </div>
                </div>
            </div>
        </form>
        <form action="" method="POST" id="node_form">
            {{ render_table(table) }}
        </form>
    </div>

</div>

{% endblock %}
