{% extends 'layout.html' %}

{% block head %}
    <style type="text/css">
        .widefat tbody th.check-column {
            padding: 7px 0 7px 0;
        }
    </style>
    <script type="text/javascript" src="/static/js/node.js"></script>
{% endblock %}

{% from "_table_h.html" import render_table %}

{% block content %}

<div class="row-fluid content">

    <div class="span2">
        {% set menuid = 'cities' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
        <div class="tablenav top">
            <div class="btn-group">
                <a class="btn btn-small" href="{{ url_for('nodes.cities_new') }}"><i class="icon-plus"></i>添加地市</a>
            </div>
        </div>
        <form action="" method="POST" id="node_form">
            {{ render_table(table) }}
        </form>
    </div>

</div>

{% endblock %}
