{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'cities' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
        {% from "tango/_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.towns_new')}}">
            <h5><i class="icon-plus"></i>添加区县</h5>
            <hr/>
            {% from "tango/_form_h.html" import render_field %}
            {{ form.hidden_tag() }}
            {{ render_field(form.parent_id) }}
            {{ render_field(form.name) }}
            {{ render_field(form.alias) }}
            {{ render_field(form.longitude) }}
            {{ render_field(form.latitude) }}
            {{ render_field(form.remark) }}

            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <input id="next" name="next" type="hidden" value="{{ next }}">
                <a href="javascript:document.location.href='{{ next }}'; return false;" class="btn btn-small">取消</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

