{% extends 'layout.html' %}

{% set navid = 'admin' %}

{% set title = 'MIB管理' %}

{% block head %}

{% from "_table_h.html" import render_table_profile %}
<script type="text/javascript">
    {{ render_table_profile(table) }}
</script>
{% endblock %}


{% from "_table_h.html" import render_table, render_screen_meta %}
{% block screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'miboids' %}
            {% include "admin/_sidebar.html" %}
        </div>
        <div class="span10">
          <div class="row-fluid content">
            <div>
              <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                  {% for tmib in mibs %}
                  {% set tmib = tmib[0] %}
                  <li class="{% if mib == tmib %}active{% endif %}"><a href="#mib-{{ tmib }}" data-toggle="tab">{{ tmib }}</a></li>
                  {% endfor %}
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="mib-mib1">
                    {% include "_alert.html" %}
                    {{ render_table(table) }}
                  </div>
                  <div class="tab-pane" id="mib-mib2">
                    <p>I'm in Section A.</p>
                  </div>
                  <div class="tab-pane" id="mib-mib3">
                    <p>Howdy, I'm in Section B.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}


