{% extends "layout.html" %}

{% set menuid = 'system' %}

{% set title = '采集规则' %}

{% block head %} {% endblock %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'timeperiods' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
            <h1>TODO: 采集规则 </h1>
            <p>数据库表: timeperiods </p>
            <p>界面: http://192.168.100.71:3008/collects </p>
        <div>
    </div>

{% endblock %}
