{% extends "layout.html" %}

{% set menuid = 'system' %}

{% block head %} {% endblock %}

{% from "_form_h.html" import render_field %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'timeperiods_new' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
	  <form class="form-horizontal" method="POST"
                action="{{ action }}">
	      {{ form.hidden_tag() }}
              {{ render_field(form.name) }}
              {{ render_field(form.alias) }}
              <legend>规则设置 (Cron)</legend>
              {{ render_field(form.hour, class="auto-width") }}
              {{ render_field(form.dayofmonth, class="auto-width") }}
              {{ render_field(form.month, class="auto-width") }}
              {{ render_field(form.dayofweek, class="auto-width") }}
              </div>
	      <div class="control-group">
		<div class="controls">
		  <button type="submit" class="btn btn-primary">确定</button>
		  <a href="#" class="btn">取消</a>
		</div>
	      </div>
	  </form>
        <div>
    </div>

{% endblock %}
