{% extends "layout.html" %}

{% block head %} {% endblock %}

{% from "tango/_form_h.html" import render_field, render_form_title, render_cron_rule %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'timeperiods' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
	  <form class="form-horizontal" method="POST" action="{{ action }}">
            {{ render_form_title(request, title) }}
	    {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.alias) }}
            <legend>规则设置 (Cron)</legend>
            {{ render_cron_rule([form.hour, form.dayofmonth, form.month, form.dayofweek]) }}
            <hr/>
            {{ render_field(form.remark) }}
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">确定</button>
	      <a href="#" class="btn">取消</a>
	    </div>
	  </form>
        <div>
    </div>

{% endblock %}
