{% extends 'layout.html' %}

{% set menuid = 'perf' %}

{% set title = 'MIB管理' %}

{% block head %} {% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'miboids' %}
            {% include "perf/_sidebar.html" %}
        </div>
        <div class="span10">
            <h1>MIB OIDS</h1>
            <p> 数据库表: miboids </p>
            <p>参考: http://192.168.100.71:3008/admin/oids </p>
        </div>
    </div>
{% endblock %}


