{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% block title %}告警类型修改{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_form_h.html" import render_field, render_submit %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'alarms_classes' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <form id="alarmclass-edit-form" class="form-horizontal" action="{{ url_for('alarms.classes_edit', id=alarm_class.id) }}" method="POST">
            <legend>{{alarm_class.alias}}</legend>
			{{ form.hidden_tag() }}
            {{ render_field(form.severity) }}
            {{ render_field(form.probablecause) }}
            {{ render_field(form.specific_problem) }}
            {{ render_field(form.additionalinfo) }}
            {{ render_field(form.remark) }}
            {{ render_submit('提交') }}
            </form>
        </div>
    </div>

{% endblock %}

