{% extends 'layout.html' %}

{% set navid = 'alarms' %}

{% set title = "告警类型" %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_table_h.html" import render_table %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms_classes' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions">
                    <form id="alarmclass-query-form" class="form-inline filter-form input-append" action="{{ url_for('alarms.classes') }}" method="GET">
                        <input class="input-low" type="text" name="keyword" placeholder="名称" {% if keyword %} value="{{ keyword }}" {% endif %}>
                        <input type="submit" name="" id="alarmclass-query-submit" class="btn btn-small" value="检索">
                    </form>
                </div>
                <br class="clear">
            </div>
            {{ render_table(table) }}
        </div>
    </div>

{% endblock %}

