{% extends 'layout.html' %}

{% set navid = 'admin' %}

{% set title = "SysOid管理" %}

{% block screen_meta %}
    {% from "_table_h.html" import render_screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'sysoids' %}
            {% include 'admin/_sidebar.html' %}
        </div>

        <div class="span10">
          {% include "_alert.html" %}
          <div class="tablenav top">
            <div class="alignleft actions">
              <div class="alignleft btn-group">
                <a class="btn btn-small" href="/admin/sysoids/new"><i class="icon-plus"></i>新建SysOid</a>
                <a class="btn btn-small" id="multi-delete-btn" href="/admin/sysoids/delete/all"><i class="icon-remove"></i>删除</a>
              </div>
            </div>
            
            {% from "tango/_search_h.html" import render_keyword %}
            <form method="GET" class="form filter-form">
                <div class="alignleft actions">
                  {{ render_keyword(form, "发现模块/备注/sysoid/mib") }}
                </div>
                <br class="clear">
            </form>

          </div>
          {% from "_table_h.html" import render_table %}
          {{ render_table(table) }}
        </div>
        <div class="modal hide fade" id="myModal"></div>
    </div>

{% endblock %}

