{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% macro render_csrf_error(form) %}
{% if form.errors.get('csrf_token', None) %}
<div class="alert alert-error">
  <button class="close" data-dismiss="alert">×</button>
  {{ form.errors['csrf_token'][0] }}
</div> 
{% endif %}
{% endmacro %}


<!-- 渲染采集规则表单中的多选框 -->
{% macro render_cron_rule(fields) %}

{% for field in fields %}
  {% if field.errors %}
    {% set has_error = True %}
  {% endif %}
{% endfor %}

<div class="control-group {% if has_error is defined %}error{% endif %}">
    <div class="controls">
      <div class="row-fluid">
          {% for field in fields %}
          <div class="pull-left" style="margin:5px 20px 10px 5px;">
            <label style="margin-bottom: 5px">{{ field.label.text }}:
              {% if field.errors %}
              <span class="help-inline">
	        {{ field.errors[0]|e }}
	      </span>
              {% endif %}
            </label>
            {{ field(style="width: 100px;height:160px;", **kwargs) }}
          </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endmacro %}


{% macro render_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
    <div class="controls">
        {{ field(**kwargs) }}
        {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
        {% if field.errors %}
            <span class="help-inline">
	    {{ field.errors[0]|e }}
	</span>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_text(field, help = None) -%} 
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
    {{ field(**kwargs)|safe }} <!-- {{ render_errors(field) }} -->
    {% if help %}
		<p class="help-inline">{{ help }}</p>
    {% endif %}
    </div>
</div>        
{%- endmacro %}


{%- macro render_textarea(field, value='', rows=7, cols=40) -%}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
    {{ field(**kwargs)|safe }} <!-- {{ render_errors(field) }} -->
    </div>
</div>   
{%- endmacro %}

{%- macro render_submit(submit_title, cancel_title="", class="btn-primary") -%}
<div class="form-actions">
    <button class="btn {{ class }}" type="submit">{{ submit_title }}</button>                    
</div>
{%- endmacro -%}

{%- macro render_fields(fields, submit_title, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
    {% if legend %}
        <legend>{{legend}}</legend>
    {% endif %}

    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
        {{ field() }}
        {% else %}
        {% if field.type == 'TextField' 
           or field.type == 'PasswordField' %}
            {{ render_text(field) }}
        {% elif field.type == 'TextAreaField' %}
            {{ render_textarea(field) }}
        {% endif %}
        {% endif %}
    {% endfor %}
    
    {{ render_submit(submit_title) }}
  </fieldset>
{%- endmacro -%}


<!-- Query Form -->
{% macro render_filter_options(filters, filter_id) %}
<select name="filter_id">
  <option value>全部</option>
  {% for filter in filters %}
  <option {% if filter_id and filter.id|string ==filter_id %}selected{% endif %} value="{{ filter.id }}">{{ filter.name }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% macro render_query_form(form) %}
<div style="margin: 15px 0 0 0;" class="span12 well advance_search_form header">      
  <table class="table  table-hover">
      <tbody>
        {% for field in form %}
        {% if loop.index is odd %}<tr>{% endif %}
          <td><label for="{{ field.id }}">{{field.label.text}}</label></td>
          <td>
            {{ field() }}
            {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
            {% if field.errors %}
            <span class="help-inline">
              {{ field.errors[0]|e }}
            </span>
            {% endif %}
          </td>
          {% if loop.index is even %}</tr>{% endif %}
        {% if loop.last and loop.length is odd %}<td colspan="2"></td></tr>{% endif %}
       {% endfor %}
       <tr>
         <td colspan="4">
           <div class="">
             <button type="submit" name="test" style="margin: 0 10px;" class="btn pull-right">应用</button>
           </div>
         </td>
       </tr>
       <tr>
         <td colspan="4">
             <button type="submit" name="save" style="margin: 0 10px;" class="btn pull-right">创建检索条件</button>
             <input type="text" name="filter-name" class="pull-right" />
         </td>
       </tr>
      </tbody>
  </table>
</div>
{% endmacro %}

{% macro render_areas() %}
    {% set field = varargs|last %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
        <div class="controls">
            {% for arg in varargs %}
                {{ arg(**kwargs) }}
            {% endfor %}
            {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
            {% if field.errors %}
                <span class="help-inline">
	    {{ field.errors[0]|e }}
	</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_search_form() %}
    <div style="margin: 0; display: none;" class="span12 well advance_search_form header">
        <table>
            <tbody>
            {% for field in varargs %}
                {% if loop.index is odd %}<tr>{% endif %}
                <td style="padding: 8px;"><label for="{{ field.id }}">{{field.label.text}}</label></td>
                <td>
                    {{ field() }}
                    {% if field.flags.required %}<strong><em>*</em></strong>{% endif %}
                    {% if field.errors %}
                        <span class="help-inline">
              {{ field.errors[0]|e }}
            </span>
                    {% endif %}
                </td>
                {% if loop.index is even %}</tr>{% endif %}
                {% if loop.last and loop.length is odd %}<td colspan="2"></td></tr>{% endif %}
            {% endfor %}
            <tr>
                <td colspan="4">
                    <div class="">
                        <button type="submit" name="test" style="margin: 0 10px;" class="btn btn-small pull-right"><i class="icon-ok"></i>应用</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}
    
