{% macro _render_chart(chartid, chartdata, height) %}

    <div id="{{chartid}}" style="height:{{height}}px; background-color:#ffffff"><svg></svg></div>

    <script type="text/javascript">

    nv.addGraph(function() {

        {{ caller() }}

        d3.select("#{{chartid}} svg")
            .datum({{ chartdata|tojson|safe }})
            .transition().duration(500)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

    </script>

{% endmacro %}

{% macro pie_chart(chartid, chartdata, height=200) %}
    
    {% call _render_chart(chartid, chartdata, height) %}

    var chart = nv.models.pieChart()
        .height({{height}})
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .color(function(d) { return d.data.color })
        .tooltipContent(function(key, y, e, graph) {return '<span>' + key + ':' + y + '</span>'})
        .showLabels(false);
    chart.valueFormat(d3.format(',d'));

    {% endcall %}

{% endmacro %}

{% macro bar_chart(chartid, chartdata, height=200) %}

    {% call _render_chart(chartid, chartdata, height) %}

    var chart = nv.models.discreteBarChart()
        .height({{height}})
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .staggerLabels(true)
        .tooltips(true)
        .showValues(false);

    chart.yAxis.tickFormat(d3.format(',d'));

    {% endcall %}

{% endmacro %}

{% macro multi_bar_chart(chartid, chartdata, stacked=False, height=200) %}

    {% call _render_chart(chartid, chartdata, height) %}

    var chart = nv.models.multiBarChart()
        .stacked({{stacked|tojson}})
        .height({{height}})
        .showControls(false)
        .tooltip(function(key, x, y, e, graph) {
            return '<p>' + key + ':' + y + '</p>';
        });
    chart.yAxis.tickFormat(d3.format(',d'));

    {% endcall %}

{% endmacro %}

{% macro horizontal_multi_bar_chart(chartid, chartdata, stacked=False, height=200) %}

    {% call _render_chart(chartid, chartdata, height) %}

     var chart = nv.models.multiBarHorizontalChart()
         .stacked({{stacked|tojson}})
         .x(function(d) { return d.label })
         .y(function(d) { return d.value })
         .showValues(true)
         .tooltips(false)
         .showControls(false);
 
     chart.yAxis.tickFormat(d3.format(',d'));
    
    {% endcall %}
 
{% endmacro %}

{% macro traffic_chart(chartid, chartdata, height=280) %}

    {% call _render_chart(chartid, chartdata, height) %}
        var chart = nv.models.lineChart()
        chart.x(function(d,i) {
            return i
        })
        var chartdata = {{ chartdata|tojson|safe }}
        chart.xAxis.tickFormat(function(d) {
            var dx = chartdata[0].values[d] && chartdata[0].values[d].x || 0;
            return d3.time.format('%m-%d %H:%M:%S')(new Date(dx*1000)) //后台传过来的单位为妙，前台的单位的毫秒
        });
        chart.yAxis.tickFormat(function(d) {
            return d3.format(',.2f')(d)+'M'
        });
    {% endcall %}

{% endmacro %}

