{% macro render_sidebar(title, submenuid, items) %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">{{ title }}</li>
        {% for label, href in items %}
            {% if href == '#divider' %}
                <li class="divider"></li>
            {% else %}
                <li {% if submenuid and submenuid == href %} class="active" {% endif %}>
                <a href="{{ href }}">{{ label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}
