{% extends "layout.html" %}

{% block head %}
<style type="text/css" media="screen">
  #ctx {
  width: 680px;
  margin: 50px auto;
  }

  img{
  width: 180px;
  margin: 10px 25px;
  }

  .container-fluid {
  margin-top: 0 !important;
  }
  
  table tr:hover {
  background-color: #F1F1F1;
  }
  
  table .link td{
  text-align: center;
  line-height: 1.6em;
  }
  table .link td a{
  margin: 0 10px;
  }
</style>
{% endblock head %}

{% block content %}
<div id="ctx" class="well">
  <h3>本站只支持下列浏览器访问: </h3>
  <hr />
  <table width="" cellspacing="" cellpadding="" border="0">
    <tr>
      <td><img src="/static/img/browsers/Google-Chrome-icon.png" class="" alt="" /></td>
      <td><img src="/static/img/browsers/Firefox-icon.png" class="" alt="" /></td>
      <td><img src="/static/img/browsers/Safari-icon.png" class="" alt="" /></td>
    </tr>
    <tr class="link">
      <td><a href="https://www.google.com/intl/zh-CN/chrome/browser/">官方下载</a><a href="http://down.tech.sina.com.cn/page/40975.html">新浪下载</a></td>
      <td><a href="http://www.firefox.com.cn/download/">官方下载</a></td>
      <td><a href="http://support.apple.com/kb/DL1531">官方下载</a></td>
    </tr>
  </table>

</div>
{% endblock content %}
