<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 8) ]><!-->
{% extends 'layout.html' %}

{% set title = 'Dashboard' %}

{% block head %} 

{% if dashboard.refresh %}

<meta content="{{dashboard.refreshsecs}}" http-equiv="refresh">

{% endif %}

<script type="text/javascript">
    addLoadEvent = function(func){if(typeof jQuery!="undefined")jQuery(document).ready(func);else if(typeof wpOnload!='function'){wpOnload=func;}else{var oldonload=wpOnload;wpOnload=function(){oldonload();func();}}};
    var
    ajaxurl = '/dashboard/settings',
    pagenow = 'dashboard',
    typenow = '',
    adminpage = 'index-php',
    thousandsSeparator = ',',
    decimalPoint = '.',
    isRtl = 0;
</script>

<script type="text/javascript" src="static/js/wp-lists.js"></script>
<script type="text/javascript" src="static/js/postbox.dev.js"></script>
<script type="text/javascript" src="static/js/dashboard.dev.js"></script>

<link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css" media="all">
<script type="text/javascript" src="/static/js/nvd3/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/nvd3/nv.d3.min.js"></script>

{% endblock %}

{% block screen_meta %} 

<!--
<div class="offset4 alignleft btn-group" data-toggle="buttons-radio" style="margin-top:3px">
    <a class="btn" href="#">Screen1</a>
    <a class="btn" href="#">Screen2</a>
    <a class="btn" href="#">Screen3</a>
</div>
-->

<div id="screen-meta" class="metabox-prefs">
    <div id="contextual-help-wrap" class="hidden">
    <div id="contextual-help-columns">
        <div class="contextual-help-tabs-wrap">
            <div id="tab-panel-overview" class="help-tab-content active">
                <p>个性化Dashboard显示</p> 
            </div>
        </div>
    </div>
    </div>

    <div id="screen-options-wrap" class="hidden">
    <form id="adv-settings" action="" method="post">
        <h5>在屏幕上显示</h5>
        <div class="metabox-prefs">
            {% from 'tango/_dashboard_h.html' import render_metabox %}
            {{ render_metabox(dashboard) }}
            <label for="wp_welcome_panel-hide">
                <input id="wp_welcome_panel-hide" type="checkbox" {% if dashboard.welcome %} checked="checked" {% endif %}>
                欢迎页
            </label>
            <br class="clear">
        </div>

        <h5 class="screen-layout">布局</h5>
        <div class="columns-prefs">列数:
            {% for col in [1,2,3] %}
                <label class="columns-prefs-{{ col }}"><input name="screen_columns" value="{{ col }}" {% if dashboard.layout == col %} checked="checked" {% endif %} type="radio">{{ col }}</label>
            {% endfor %}
        </div>

        <h5 class="screen-refresh">刷新频率(分钟)</h5>
        <div class="refresh-prefs">
            {% for i in [2,5,10] %}
                <label class="refresh-prefs-{{ i  }}"><input name="screen_refresh" value="{{ i }}" {% if dashboard.refresh == i %} checked="checked" {% endif %} type="radio">{{ i }}</label>
            {% endfor %}
        </div>

        <div><input id="screenoptionnonce" name="screenoptionnonce" value="9fe52bb3f0" type="hidden"></div>
    </form>
    </div>
</div>

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="screen-meta-toggle">
    <a href="#contextual-help-wrap" id="contextual-help-link" class="show-settings">帮助</a>
    </div>

    <div id="screen-options-link-wrap" class="screen-meta-toggle">
    <a href="#screen-options-wrap" id="show-settings-link" class="show-settings">显示选项</a>
    </div>
</div>

{% endblock %}
		
{% block welcome %}

{{ dashboard.welcome }}

{% if dashboard.welcome == '1' %} 

    {% include "_welcome.html" %}

{% endif %}

{% endblock %}

{% block content %}

{% from 'tango/_dashboard_h.html' import render_dashboard %}

{{ render_dashboard(dashboard) }}

{% endblock %}

