{% extends 'layout.html' %}

{% set title = '登录' %}

{% set page = 'login' %}

{% block content %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div> 
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <div id="login" class="login">

        {% from "tango/_form_h.html" import render_fields %}
        <form id="loginform" method="POST" action="/login" class="form">
            {{ render_fields(form, '登录') }}
        </form>

    </div>

{% endblock %}

