{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/perf.css" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/perf.js"></script>
{% endblock %}
    
{% block screen_meta %}
    {% from 'tango/_table_h.html' import render_screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}

{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% include "perf/_sidebar.html" %}
        </div>
        <div class="span10">
            <div class="tablenav top">
              
              {% from "tango/_form_h.html" import render_perf_filter_from %}
              {{ render_perf_filter_from(filterForm) }}
              
                <div class="pull-right actions">
                    <a title="Excel导出" href="#" class="btn btn-small"><i class="icon-download-alt"></i></a>
                </div> 
                <br class="clear">
            </div>
            {% from 'tango/_table_h.html' import render_table %}
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}


