
{% from "tango/_sidebar_h.html" import render_sidebar %}

{{ render_sidebar('系统管理', submenuid, [
        ('settings', '系统设置', url_for('system.settings')),
        ('dic_codes', '字典管理', url_for('system.dic_codes')),
        ('dic_codes_new', '添加字典', url_for('system.dic_codes_new')),
        ('timeperiods', '采集规则', url_for('system.timeperiods')),
        ('timeperiods_new', '添加规则', url_for('system.timeperiods_new'))
        ])
}}

{{ render_sidebar('日志管理', submenuid, [
        ('seclogs', '安全日志', url_for('system.seclogs')),
        ('oplogs', '操作日志', url_for('system.oplogs'))])
}}

{{ render_sidebar('网管系统', submenuid, [
        ('hosts','所有服务器', '/hosts'),
        ('subsystems','所有子系统', '/subsystems')])
}}
