{% extends 'layout.html' %}

{% set menuid = 'system' %}

{% block title %} 操作日志 {% endblock %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'oplogs' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions">
                    <form class="form-inline" style="margin:0px;" action="" method="GET">
                        {{ filterForm.uid(class="input-small") }}
                        {{ filterForm.start_date(class="input-small datepicker", placeholder="开始日期") }}
                        <label for='end_date'>-</label>
                        {{ filterForm.end_date(class="input-small datepicker", placeholder="结束日期") }}
                        {{ filterForm.keyword(placeholder="详细信息") }}
                        <button class="btn" type="submit">检索</button>
                    </form>
                </div>
            </div>
            {{ render_table(table) }}
        </div>
    </div>
    <script type="text/javascript">
        $(".datepicker").datepicker({format: "yyyy-mm-dd"});
    </script>
{% endblock %}


