{% extends 'layout.html' %}

{% set menuid = 'system' %}

{% block title %} 操作日志 {% endblock %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %} 
    <div class="row-fluid" style="margin-top:30px;">
        <div class="span2">
            {% set submenuid = 'oplogs' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}
