{% extends 'layout.html' %}

{% set menuid = 'system' %}

{% set title = '安全日志' %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'seclogs' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions input-append">
                    <form class="form-inline" style="margin:0px;" action="" method="GET">
                        {{ searchForm.keyword(placeholder='用户名或终端IP', class='input-low') }}
                        <button class="btn btn-small" type="submit">检索</button>
                    </form>
                </div>
            </div>
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

