{% extends 'layout.html' %}

{% set title = '安全日志' %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'seclogs' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
            <div class="tablenav top">
                <div class="alignleft actions input-append">
                    {% from 'tango/_search_h.html' import search_form %}
                    {{ search_form(request, '用户名或终端IP') }}
                </div>
            </div>
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

