{% extends 'layout.html' %}

{% set menuid = 'system' %}

{% block title %} 系统设置 {% endblock %}

{% block head %}
{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>
{% endblock %}


{% from "_table_h.html" import render_table, render_screen_meta %}
{% block screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}


{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'settings' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
          {% include "_alert.html" %}
          {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

