{% extends 'layout.html' %}

{% set title = '删除角色' %}

{% from "_form_h.html" import render_field %}

{% block content %}

<div class="row-fluid content">
  <div class="span2">
    {% set menuid = 'roles' %}
    {% include 'users/_sidebar.html' %}
  </div>
  <div class="span10">
    <div class="">
      <form class="form-horizontal" method="POST"
            action="{{url_for('users.roles_delete', id=role.id)}}">
	<fieldset>
          <div class="control-group ">
            <label class="control-label" >角色名</label>
            <div class="controls">
	      <input disabled="disabled" name="name" type="text" value="{{role.name}}">
            </div>
          </div>
          <div class="control-group ">
            <label class="control-label">描述</label>
            <div class="controls">
	      <textarea disabled="disabled" name="description" type="text">{{role.description}}</textarea>
            </div>
          </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary btn-danger">删除</button>
	    </div>
	  </div>
	</fieldset>		    
      </form>
    </div>
    
  </div>
</div>

{% endblock %}

