{% extends 'layout.html' %} 

{% set title = '角色管理' %}

{% block head %} 

{% from "tango/_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "tango/_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid content">

    <div class="span2">
      {% set menuid = 'roles' %}
      {% include "users/_sidebar.html" %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
	<div class="tablenav top">
          
          <div class="alignleft actions">
            <div class="alignleft btn-group">
              <a class="btn btn-small" href="{{url_for('users.roles_new')}}"><i class="icon-plus"></i>新建角色</a>
              <button class="btn btn-small"><i class="icon-remove"></i>删除</button>
            </div>
          </div>

          <div class="alignleft actions">
            <form class="form-inline filter-form input-append" action="" method="GET">
              <input type="text" name="keyword" value="{{keyword}}" class="input-low">
              <button type="submit" class="btn btn-small">检索</button>
            </form>
          </div>

          <div class="alignright actions">
            <a class="btn btn-small"
               href="#"><i class="icon-download-alt"></i></a>
          </div>
          <br class="clear">
	</div>
        {{ render_table(table) }}
        <br class="clear">
    </div>

</div>

{% endblock %}

