{% set menuid = 'users' %}

{% extends 'layout.html' %} 

{% set title = '角色管理' %}

{% block head %} 

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

    {{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:20px">

    <div class="span2">
      {% set submenuid = 'roles' %}
      {% include "users/_sidebar.html" %}
    </div>

    <div class="span10">
        {% include "_alert.html" %}
	    <div class="tablenav top">
            <div class="alignleft actions">
                <form action="" method="get">
                <input type="hidden" name="orderby" value="login">
                <input type="hidden" name="order" value="asc">
                <div class="alignleft btn-group">
                    <a class="btn"
                    href="{{url_for('users.roles_new')}}">新建角色</a>
                    <button class="btn">删除角色</button>
                    <br class="clear">
                </div>
                </form>
            </div>

            <div class="alignleft actions">
                <form class="form-inline" style="margin:0px;" action="" method="GET">
                <input type="text" name="keyword" value="{{keyword}}" class="input-small" placeholder="关键词">
                <button type="submit" class="btn">Filter</button>
                </form>
            </div>

            <div class="alignright actions">
                <a class="btn btn-small"
                href="#"><i class="icon-download-alt"></i></a>
            </div>
	    </div>
        {{ render_table(table) }}
        <br class="clear">
    </div>

</div>

{% endblock %}

