{% extends 'layout.html' %}

{% set title = '编辑角色' %}

{% from "_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid content">
  <div class="span2">
    {% if request.endpoint == 'users.roles_new' %}
        {% set menuid = 'roles-new' %}
    {% endif %}
    {% include "users/_sidebar.html" %}
  </div>
  
  <div class="span10">
    {% from "_form_h.html" import render_csrf_error %}
    {{ render_csrf_error(form) }}
    <div class="row-fluid">
      <div class="">
	<form class="form-horizontal" method="POST" id="test-wtf" action="{{action}}">
          {{ render_form_title(request, title) }}
	  <fieldset>
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            <div id="" class="control-group">
              <div id="" class="controls">
                <table class=" table-bordered  widefat">
                  <thead>
                    <tr>
                      <th>模块名</th>
                      <th>子模块</th>
                      <th>可用操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for module, names in perm_tree.iteritems() %}
                  {% for name, operations in names.iteritems() %}
                  <tr>
                    {% if loop.index == 1 %}
                    <td rowspan="{{ names.keys()|length}}">
                      <label class="checkbox">
                        <input type="checkbox" {{module[1]}}
                        name="{{ ['perm_module', module[0]]|join('.') }}" />{{module[0]}}
                      </label>
                    </td>
                    {% endif %}
                    <td>
                      <label class="checkbox">
                        <input type="checkbox" {{name[1]}}
                               name="{{ ['perm_name', name[0]]|join('.') }}" />{{name[0]}}
                      </label>
                    </td>
                    <td>
                      {% for operation, permission_id in operations.iteritems() %}
                        <label class="checkbox inline">
                          <input type="checkbox" {{operation[1]}}
                                 name="{{ ['permissions', permission_id]|join('.') }}" />{{operation[0]}}
                        </label>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
	    {{ render_field(form.description) }}
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">确定</button>
	      <a href="#" class="btn">取消</a>
	    </div>
	  </fieldset>		    
	</form>
      </div>
    </div>
    <br class="clear">
  </div>
</div>

{% endblock %}
