{% extends 'layout.html' %}

{% set title = "告警监视面板" %}

{% block head %} 
    <script type="text/javascript">
        addLoadEvent = function(func){if(typeof jQuery!="undefined")jQuery(document).ready(func);else if(typeof wpOnload!='function'){wpOnload=func;}else{var oldonload=wpOnload;wpOnload=function(){oldonload();func();}}};
        var
        ajaxurl = '/dashboard/settings',
        pagenow = '{{dashboard.id}}',
        typenow = '',
        thousandsSeparator = ',',
        decimalPoint = '.',
        isRtl = 0;
    </script>
    {% from 'tango/_base.html' import javascript, stylesheet %}
    {{ javascript("/static/js/wp-lists.js") }}
    {{ javascript("/static/js/postbox.js") }}
    {{ javascript("/static/js/dashboard.dev.js") }}
    {{ stylesheet("/static/css/nv.d3.css") }}
    {{ javascript("/static/js/nvd3/d3.v2.min.js") }}
    {{ javascript("/static/js/nvd3/nv.d3.min.js") }}
{% endblock %}


{% block screen_meta %} 

<div id="screen-meta" class="metabox-prefs">
    <div id="contextual-help-wrap" class="hidden">
    <div id="contextual-help-columns">
        <div class="contextual-help-tabs-wrap">
            <div id="tab-panel-overview" class="help-tab-content active">
                <p>告警控制台: 显示最近12小时告警、按各种条件统计告警</p> 
            </div>
        </div>
    </div>
    </div>
    <div id="screen-options-wrap" class="hidden">
    <form id="adv-settings" action="" method="post">
        <h5>在屏幕上显示</h5>
        <div class="metabox-prefs">
            {% from 'tango/_dashboard_h.html' import render_metabox %}
            {{ render_metabox(dashboard) }}
            <br class="clear">
        </div>

        <h5 class="screen-layout">布局</h5>
        <div class="columns-prefs">列数:
            {% for col in [1,2,3] %}
                <label class="columns-prefs-{{ col }}"><input name="screen_columns" value="{{ col }}" {{ 'checked="checked"' if dashboard.layout == col }} type="radio">{{ col }}</label>
            {% endfor %}
        </div>
        <div><input id="screenoptionnonce" name="screenoptionnonce" value="9fe52bb3f0" type="hidden"></div>
    </form>
    </div>
</div>

<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="screen-meta-toggle">
    <a href="#contextual-help-wrap" id="contextual-help-link" class="show-settings">帮助</a>
    </div>

    <div id="screen-options-link-wrap" class="screen-meta-toggle">
    <a href="#screen-options-wrap" id="show-settings-link" class="show-settings">显示选项</a>
    </div>
</div>

{% endblock %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms_console' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <div style="padding:0px; border: 1px solid #E3E3E3; border-radius: 3px 3px 3px 3px;">
                {% from "_nvd3_chart.html" import multi_bar_chart %}
                {{ multi_bar_chart(chartid, chartdata, height=180) }}
            </div>

            {% from 'tango/_dashboard_h.html' import render_dashboard %}

            {{ render_dashboard(dashboard) }}

            <br class="clear">
        </div>
    </div>

{% endblock %}
