{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% block title %}告警监视面板{% endblock %}

{% block head %} {% endblock %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'alarms_console' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">

            <div style="padding:0px; border: 1px solid #E3E3E3; border-radius: 3px 3px 3px 3px;">
            {% from "_chart_h.html" import render_highchart %}
            {{ render_highchart(chart, height='240px') }}
            </div>

            {% from '_dashboard_h.html' import render_dashboard %}

            {{ render_dashboard(dashboard) }}

            <br class="clear">
        </div>
    </div>

{% endblock %}
