{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% set title = "告警监视面板" %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/nvd3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/static/js/nvd3/nv.d3.min.js"></script>
{% endblock %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'alarms_console' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <div style="padding:0px; border: 1px solid #E3E3E3; border-radius: 3px 3px 3px 3px;">
                {% from "_nvd3_chart.html" import multi_bar_chart %}
                {{ multi_bar_chart(chartid, chartdata, height=180) }}
            </div>

            {% from '_dashboard_h.html' import render_dashboard %}

            {{ render_dashboard(dashboard) }}

            <br class="clear">
        </div>
    </div>

{% endblock %}
