li.alarm-clear a { 
    color: #00FF00; 
}
li.alarm-indeterminate a {
    color: #773EF7; 
}
li.alarm-warning  a {
    color: #43d5fa; 
}
li.alarm-minor a {
    color: #E6F940;
}
li.alarm-major a {
    color: #F6983E;
}
li.alarm-critical a {
    color: #ED4D5A;
}
span.severity-5 {
    font-size: 12px;
    background-color: #ED4D5A;
}
span.severity-4 {
    font-size: 12px;
    background-color: #F6983E;
}
span.severity-3 {
    font-size: 12px;
    background-color: #E6F940;
}
span.severity-2 {
    font-size: 12px;
    background-color: #43d5fa; 
}
span.severity-1 {
    font-size: 12px;
    background-color: #773EF7; 
}
span.severity-0 {
    font-size: 12px;
    background-color: #00FF00; 
}
th.severity-column{
    width:2.4em;
}
th.alarm_state-column{
    width:4.4em;
}
th.occur_count-column{
    width:4.4em;
}

th.node_alias-column,
th.node_addr-column,
th.alarm_alias-column {
    width:10em;
}

/* badge */
.badge-alarm-clear { 
     background-color: #00FF00; 
}
.badge-alarm-indeterminate {
    background-color: #773EF7; 
}
.badge-alarm-warning {
    background-color: #43d5fa; 
}
.badge-alarm-minor {
    background-color: #E6F940;
}
.badge-alarm-major {
    background-color: #F6983E;
}
.badge-alarm-critical {
    background-color: #ED4D5A;
}

