#status_statistics {
    font-size: 12px;
    margin: 0;
    padding-bottom: 25px;
}
#status_statistics li {
    float: left;
    padding-right: 10px;
}
.status-column.state-1, #status_statistics .status-1 a{
    color: lime;
}
.status-column.state-2, #status_statistics .status-2 a{
    color: red;
}
.status-column.state-3, #status_statistics .status-3 a{
    color: #F6983E;
}
.status-column.state-4, #status_statistics .status-4 a{
    color: #43D5FA;
}
#search_form {
    margin-bottom: 5px;
}
#search_form label {
    font-size: 12px;
}
#search_form input,#search_form select {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    width: 180px;
}
select#area_chosen {
    width: 166px;
}
.tablenav .actions {
    padding: 2px 8px 2px 0;
}
