#status_statistics .status-0 a{
    color: #808080;
}
#status_statistics .status-1 a{
    color: lime;
}
#status_statistics .status-2 a{
    color: red;
}
#status_statistics .status-3 a{
    color: #F6983E;
}
#status_statistics .status-4 a{
    color: #43D5FA;
}

span.status-0{
    background-color: #808080;
}
span.status-1{
    background-color: lime;
}
span.status-2{
    background-color: red;
}
span.status-3{
    background-color: #F6983E;
}
span.status-4{
    background-color: #43D5FA;
}
#search_form {
    margin-bottom: 5px;
}
#search_form label {
    font-size: 12px;
}
#search_form input,#search_form select {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    width: 180px;
}
select#area_chosen {
    width: 186px;
}
.tablenav .actions {
    padding: 2px 8px 2px 0;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
