{% extends 'layout.html' %}

{% block head %}
    {% from "tango/_table_h.html" import render_table_profile %}
    <script type="text/javascript">
        {{ render_table_profile(table) }}
    </script>
    {{ form.media.render() }}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/node.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#delete_btn").click(function() {
                var ids = $("#node_form").find("input[name^=id]:checked");;
                if(ids.length > 0){
                    if(confirm("确认删除这些OLT?")) {
                        $("#node_form").attr("action","{{ url_for('nodes.olts_delete') }}").submit();
                    }
                }else{
                    alert("请选择OLT");
                }
                return false;
            })
        })
    </script>
{% endblock %}

{% from "tango/_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'olts' %}
        {% include 'nodes/_sidebar.html' %}
    </div>
    <div class="span10">
        {% include "_alert.html" %}
        <ul id="status_statistics" class="subsubsub">
            {% for status in status_statistcs %}
                <li class="status-{{ status.status }}">
                    <a href="{{ url_for('nodes.olts', status=status.status) }}">{{ status.name }}<span class="count">({{ status.number }})</span></a>
                </li>
            {% endfor %}
        </ul>
        <form method="GET" class="form filter-form">
            {% from 'tango/_search_h.html' import render_keyword, render_advanced %}

            <div class="tablenav top">
                <div class="alignleft actions">
                    <div class="alignleft btn-group">
                        <a class="btn btn-small" href="{{ url_for('nodes.olts_new') }}"><i class="icon-plus"></i>添加</a>
                        <a class="btn btn-small" href="#" id="delete_btn"><i class="icon-remove"></i>删除</a>
                        <a class="btn btn-small" href="{{ url_for('tango.download', file='/static/file/template/olts.csv') }}"><i class="icon-file"></i>模版</a>
                        <a class="btn btn-small" href="#import_form" data-toggle="modal"><i class="icon-upload"></i>导入</a>
                    </div>
                </div>
                <div class="alignleft actions">
                    {{ render_keyword(form, "名称/别名/IP", advanced=True) }}
                </div>
                <div class="pull-right actions">
                    <a class="btn btn-small" href="{{ request.url|replace('olts','olts.csv') }}" data-placement="bottom" rel="tooltip" data-original-title="Excel导出"><i class="icon-download-alt"></i></a>
                </div>
                <br class="clear">

                {% call render_advanced(request) %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <td width="17.5%"> {{ form.area.label }} </td>
                            <td width="32.5%"> {{ form.area(class="input-low ") }} </td>
                            <td width="17.5%"> {{ form.status.label }} </td>
                            <td width="32.5%"> {{ form.status(class="input-low ") }} </td>
                        </tr>
                        <tr>
                            <td width="17.5%"> {{ form.vendor_id.label }}</td>
                            <td width="32.5%"> {{ form.vendor_id(class="input-low ") }}</td>
                            <td width="17.5%"> {{ form.model_id.label }}</td>
                            <td width="32.5%"> {{ form.model_id(class="input-low ") }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-small" type="submit">应用</button>
                                <button class="btn btn-small" type="reset">重置</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endcall %}
            </div>
        </form>
        <form action="" method="POST" id="node_form">
        {{ render_table(table) }}
        </form>
        {% from 'tango/_form_h.html' import render_upload %}
        {{ render_upload(url_for('nodes.olts_import'), "批量导入OLT") }}
        <br class="clear">
    </div>
</div>

{% endblock %}
