{% extends 'layout.html' %}

{% set menuid = 'nodes' %}

{% block head %}
<link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />

<script type="text/javascript">
    var getSelectBox = function(){
        return $("#node_form").find("input[name^=id]:checked");
    }
    $(function(){
        $(".advance_search").toggle(
            function() {
                $(".advance_search_form").show();
                $(this).addClass("hidedetail");
            },
            function() {
                $(".advance_search_form").hide();
                $(this).removeClass("hidedetail");
            }
        )
        $("#advance_search").click(function() {
            search_form = $("#search_form");
            search_form.attr("action","{{url_for('nodes.switches')}}").submit();
        })
        var node_form = $("#node_form");
        $("#delete_btn").click(function() {
            var ids = getSelectBox();
            if(ids.length > 0){
                if(confirm("确认删除这些OLT？")) {
                    node_form.attr("action","{{url_for('nodes.switches_delete')}}").submit();
                }
            }else{
                alert("请选择OLT");
            }
        })
    })
</script>
    {{ form.media.render() }}
{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set submenuid = 'switches' %}
        {% include 'nodes/_sidebar.html' %}
    </div>
    <div class="span10">
        {% include "_alert.html" %}
        <ul id="status_statistics">
            {% for status in status_statistcs %}
                <li class="status-{{ status.status }}">{{ status.name }}<span class="count">({{ status.number }})</span></li>
            {% endfor %}
        </ul>
        <form class="form-horizontal" method="GET" action="{{url_for('nodes.switches')}}" id="search_form">
            <div class="tablenav top">
                <div class="alignleft">
                    <input type="hidden" name="orderby" value="login">
                    <input type="hidden" name="order" value="asc">
                    <div class="alignleft btn-group">
                        <a class="btn btn-small" href="{{ url_for('nodes.switches_new') }}"><i class="icon-plus"></i>添加</a>
                        <a class="btn btn-small" href="#" id="delete_btn"><i class="icon-remove"></i>删除</a>
                        <a class="btn btn-small" href="#"><i class="icon-file"></i>模版</a>
                        <a class="btn btn-small" href="#"><i class="icon-upload"></i>导入</a>
                    </div>
                </div>
                <div class="alignleft" style="height: 26px;">
                        {% set keyword = '名称、别名或IP' %}
                        <div class="input-append alignleft" style="margin-left: 20px;">
                            {{ form.name(placeholder=keyword,class="input-low input-medium") }}
                            <button id="advance_sarch" class="btn btn-small">检索</button>
                        </div>
                        <div class="alignleft advance_search" title="高级检索"></div>
                </div>
                <div class="pull-right actions">
                    <a class="btn btn-small" href="#" title="Excel导出"><i class="icon-download-alt"></i></a>
                </div>
            </div>
            {% from "_form_h.html" import render_search_form %}
            {{ render_search_form(form.area, form.vendor_id, form.model_id) }}
        </form>
        <form action="" method="POST" id="node_form">
        {{ render_table(table) }}
        </form>
        <br class="clear">
    </div>
</div>

{% endblock %}
