{% extends "layout.html" %}

{% set menuid = 'nodes' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
    {{ form.media.render() }}

    <script type="text/javascript" src="/static/js/node.js"></script>

    <script type="text/javascript">
        $(function() {
            select_change_ajax("cityid", {
                id: "town",
                url: "{{ url_for('nodes.ajax_towns_for_city') }}",
                option: "请选择区县",
                empty: ["area_id"]
            });
            select_change_ajax("town", {
                id: "area_id",
                url: "{{ url_for('nodes.ajax_entrances_for_town') }}",
                option: "请选择接入点"
            });
        })
    </script>
{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set submenuid = 'switches' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% from "_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.switches_new')}}">
            <h5><i class="icon-plus"></i> 添加交换机</h5>
            <hr/>
            {% from "_form_h.html" import render_field,render_areas,render_radio %}
            {{ form.hidden_tag() }}
            {{ render_areas(form.cityid, form.town, form.area_id, class="input-small") }}
            {{ render_field(form.name) }}
            {{ render_field(form.alias) }}
            {{ render_field(form.addr) }}
            {{ render_field(form.mask) }}
            <legend>SNMP信息</legend>
            {{ render_field(form.snmp_comm) }}
            {{ render_field(form.snmp_wcomm) }}
            {{ render_radio(form.snmp_ver) }}
            <legend>其他</legend>
            {{ render_field(form.location) }}
            {{ render_field(form.remark) }}
            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <button type="submit" class="btn btn-small">取消</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

