#panel {
    background-color: #F7F7F7;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    border: 1px solid #D5D5D5;
}

/* =Toolbar */
#toolbar {
    padding: 8px 2px;
    margin-bottom: 1px;
    border-bottom: 1px solid #D5D5D5;
}

.toolbar-item {
    float: left;
    margin-left: 8px;
    padding-right: 8px;
    /* border-right: 1px solid #D5D5D5; */
}

.chart {
    height: 600px;
    margin-bottom: 0px;
}

/* =Tree interactive chart */
.tree-chart {
    overflow: auto;
    height: 600px;
}

.tree-chart svg{
    overflow: auto;
}


/* Force chart */
#fcchart circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}

/* Sidebar */
#sidebar {
    background-color: #F7F7F7;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    border: 1px solid #D5D5D5;
}

#tree {
    overflow-y: auto;
    height: 640px;
    margin-left: 10px;
}

#tree svg{
    width: 220px;
    overflow-y: auto;
    fill: #D5D5D5;
    margin-top: -26px;
    padding: 4px;
}

#tree .node rect {
  cursor: pointer;
  fill-opacity: 0;
}

#tree .node text {
  fill: #111;
  pointer-events: none;
}

#tree path.link {
  fill: none;
  stroke: #A5A5A5;
  stroke-width: 1.5px;
}
