{% set submenuid = 'users' %}

<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">用户管理</li>
      {% for id, label, href  in [ ('users', '所有用户', '/users'),
                                   ('users/new', '新建用户', '/users/new') ] %}
      <li {% if submenuid and submenuid == id %} class="active" {% endif %}>
        <a href="{{ href }}">{{ label }}</a>
      </li>
      {% endfor %}
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">角色管理</li>
      <li><a href="#">所有角色</a></li>
      <li><a href="#">新建角色</a></li>
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">管理域设置</li>
      <li><a href="#">所有管理域</a></li>
      <li><a href="#">新建管理域</a></li>
    </ul>
</div>
