<form class="form-horizontal" method="POST" action="{{url_for('users.users_delete', id=user.id)}}">
  <fieldset>
    <div class="control-group ">
      <label class="control-label" >用户名</label>
      <div class="controls">
	<input disabled="disabled" name="username" type="text" value="{{user.username}}">
      </div>
    </div>
    
    <div class="control-group ">
      <label class="control-label">真实姓名</label>
      <div class="controls">
	<input disabled="disabled" name="name" type="text" value="{{user.name}}">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn btn-primary btn-danger">删除</button>
      </div>
    </div>
  </fieldset>
</form>
