{% extends 'layout.html' %}

{% set menuid = 'users' %}

{% block title %}删除用户{% endblock %}

{% from "_form_h.html" import render_field %}

{% block content %}

<div class="row-fluid content">
  <div class="span2">
    {% set submenuid = 'users' %}
    {% include 'users/_sidebar.html' %}
  </div>
  <div class="span10">
    <div class="">
      <form class="form-horizontal" method="POST"
            action="{{url_for('users.users_delete', id=user.id)}}">
	<fieldset>
          <div class="control-group ">
            <label class="control-label" >用户名</label>
            <div class="controls">
	      <input disabled="disabled" name="username" type="text" value="{{user.username}}">
            </div>
          </div>
          
          <div class="control-group ">
            <label class="control-label">真实姓名</label>
            <div class="controls">
	      <input disabled="disabled" name="name" type="text" value="{{user.name}}">
            </div>
          </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary btn-danger">删除</button>
	    </div>
	  </div>
	</fieldset>		    
      </form>
    </div>
    
  </div>
</div>

{% endblock %}

