{% extends 'layout.html' %}

{% from "tango/_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid content">
    <div class="span2">
      {% include "users/_sidebar.html" %}
    </div>
    
    <div class="span10">
      <form class="form-horizontal" method="POST" action="{{ action }}">
        {{ render_form_title(request, title) }}
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.role_id) }}
        {{ render_field(form.domain_id) }}
        {{ render_field(form.department) }}
        {{ render_field(form.email) }}
        {{ render_field(form.telephone) }}
        {{ render_field(form.mobile) }}
        {{ render_field(form.memo, rows=4) }}
        
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">确定</button>
        <a href="javascript:history.go(-1);" class="btn">取消</a>
	</div>
      </form>
    </div>
</div>

{% endblock %}
