{% set menuid = 'users' %}

{% extends 'layout.html' %} 

{% block title %} 用户管理 {% endblock %}

{% block head %}

{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
  {{ render_table_profile(table) }}
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta %}

{% block screen_meta %}

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:20px">

  <div class="span2">
    {% set submenuid = 'users' %}
    {% include "users/_sidebar.html" %}
  </div>

  <div class="span10">
    {% include "_alert.html" %}
    <div class="tablenav top">
      <div class="alignleft actions">
        <form action="" method="get">
          <input type="hidden" name="orderby" value="login">
          <input type="hidden" name="order" value="asc">
          <div class="alignleft btn-group">
            <a class="btn" href="{{url_for('users.user_new')}}">新建用户</a>
            <!-- <button class="btn">重置密码</button> -->
            <a class="btn" href="#">删除用户</a>
            <br class="clear">
          </div>
        </form>
      </div>
      <form class="form-inline" style="margin:0px;" action="" method="POST">
        <div class="alignleft actions">
          {% from "_form_h.html" import render_filter_options %}
          {{ render_filter_options(filters, filter_id) }}
          <button type="submit" name="execute" class="btn">检索</button>
        </div>
      </form>
        <div class="alignright actions">
          <a class="btn btn-small"
             href="#"><i class="icon-download-alt"></i></a>
        </div>
        <form method="POST" action="">
          {% from "_form_h.html" import render_query_form %}
          {{ render_query_form(query_form) }}
        </form>
    </div>
    {{ render_table(table) }}
    <br class="clear">
  </div>
</div>
{% endblock %}

