{% set menuid = 'users' %}

{% extends 'layout.html' %} 

{% set title = '用户管理' %}

{% block head %}

<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
{% from "_table_h.html" import render_table_profile %}
<script type="text/javascript">
  {{ render_table_profile(table) }}
</script>

{% endblock %}

{% from "_table_h.html" import render_table, render_screen_meta, render_modal %}

{% block screen_meta %}

{{ render_screen_meta(table) }}

{% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:20px">

  <div class="span2">
    {% set submenuid = 'users' %}
    {% include "users/_sidebar.html" %}
  </div>

  <div class="span10">
    {% include "_alert.html" %}
    <div class="tablenav top">
      <div class="alignleft actions">
        <form action="" method="get">
          <input type="hidden" name="orderby" value="login">
          <input type="hidden" name="order" value="asc">
          <div class="alignleft btn-group">
            <a class="btn" href="{{url_for('users.users_new')}}">新建用户</a>
            <!-- <button class="btn">重置密码</button> -->
            <a class="btn" role="button" href="#myModal" data-toggle="modal">删除用户</a>
            <br class="clear">
          </div>
        </form>
      </div>
      <form class="form-inline" style="margin:0px;" action="" method="GET">
        <div class="alignleft actions">
          <input type="text" name="keyword" value="{{ keyword }}" placeholder="关键词" />
          <button type="submit" class="btn">检索</button>
        </div>
      </form>
        <div class="alignright actions">
          <a class="btn btn-small"
             href="#"><i class="icon-download-alt"></i></a>
        </div>
     </div>
    {{ render_table(table) }}
    {{ render_modal(['edit', 'delete']) }}
    <br class="clear">
  </div>
</div>
{% endblock %}

