{% extends 'layout.html' %}

{% set menuid = 'users' %}

{% set title = '添加用户' %}

{% from "_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
      {% set submenuid = 'users-new' %}
      {% include "users/_sidebar.html" %}
    </div>
    
    <div class="span10">
	<div class="row-fluid">
	    <div class="">
		<form class="form-horizontal" method="POST" id="test-wtf" action="{{url_for('users.users_new')}}">
                  {{ render_form_title(request, title) }}
                  <fieldset>
			{{ form.hidden_tag() }}
			{{ render_field(form.username, id="user-username") }}
			{{ render_field(form.name) }}
			{{ render_field(form.password) }}
			{{ render_field(form.password_confirm) }}
			{{ render_field(form.role_id) }}
			{{ render_field(form.domain_id) }}
			{{ render_field(form.department) }}
			{{ render_field(form.email) }}
			{{ render_field(form.telephone) }}
			{{ render_field(form.mobile) }}
			{{ render_field(form.memo, rows=4) }}
			<div class="form-actions">
			  <button type="submit" class="btn btn-primary">确定</button>
			  <a href="#" class="btn">取消</a>
			</div>
		    </fieldset>		    
		</form>
	    </div>
	</div>
        <br class="clear">
    </div>
</div>

{% endblock %}
