
{% set menuid = 'users' %}

{% set submenuid = 'users/new' %}

{% extends 'layout.html' %}

{% block title %} 添加用户 {% endblock %}

{% from "_form_h.html" import render_field %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
        {% include "users/_sidebar.html" %}
    </div>
    
    <div class="span10">
	<div class="row-fluid">
	    <div class="">
		<form class="form-horizontal" method="POST" id="test-wtf" action="{{url_for('users.domain_new')}}">
                  
		</form>
	    </div>
	</div>
        <br class="clear">
    </div>
</div>

{% endblock %}
