{% extends 'layout.html' %}

{% set title = '重置密码' %}

{% from "_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
      {% set menuid = 'users_new' %}
      {% include "users/_sidebar.html" %}
    </div>
    
    <div class="span10">
      <form class="form-horizontal" method="POST" id="test-wtf"
            action="{{ url_for('users.reset_password',id=user.id) }}">
        {{ render_form_title(request, title) }}
	<fieldset>
	  {{ form.hidden_tag() }}
          {{ render_field(form.username, disabled="disabled") }}
          {{ render_field(form.newpasswd) }}
          {{ render_field(form.confirm) }}
	  <div class="form-actions">
	    <button type="submit" class="btn btn-primary">确定</button>
	    <a href="javascript:history.go(-1);" class="btn">取消</a>
	  </div>
	</fieldset>		    
      </form>
    </div>
</div>

{% endblock %}
