{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% block title %}修改告警知识库{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_form_h.html" import render_field, render_submit %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'alarms_knowledges' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <form id="alarm-knowledge-edit-form" class="form-horizontal" action="{{ url_for('alarms.knowledge_edit', id=record.id) }}" method="POST">
            <legend>修改告警知识库</legend>
			{{ form.hidden_tag() }}
            {{ render_field(form.class_id) }}
            {{ render_field(form.probability) }}
            {{ render_field(form.probable_cause) }}
            {{ render_field(form.resolvent) }}
            {{ render_submit('Submit') }}
            </form>
        </div>
    </div>

{% endblock %}

