{% extends 'layout.html' %}

{% set title = '告警知识库' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_table_h.html" import render_table %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms_knowledges' %}
            {% include 'alarms/_sidebar.html' %}
        </div>
        <div class="span10">

            <form method="GET" class="form filter-form">
            {% from 'tango/_search_h.html' import render_keyword %}

            <div class="tablenav top">
                <div class="alignleft actions">
                    <div class="alignleft btn-group">
                        <a class="btn btn-small" href="{{url_for('alarms.knowledges_new')}}"><i class="icon-plus"></i>新建知识库</a>
                    </div>
                </div>
                <div class="alignleft actions">
                    {{ render_keyword(filterForm, "故障名称") }}
                </div>
                <br class="clear">
            </div>

            </form>
            {{ render_table(table) }}
        </div>
    </div>

{% endblock %}






