{% extends 'layout.html' %}

{% set title = '告警知识库' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% from "_table_h.html" import render_table %}

{% block content %}
    
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'alarms_knowledges' %}
            {% include 'alarms/_sidebar.html' %}
        </div>

        <div class="span10">
            <form id="alarm-knowledges-query-form" class="form-inline" action="{{ url_for('alarms.knowledges') }}" method="GET">
            <div class="tablenav top">
                <div class="alignleft actions">
                    <div class="alignleft btn-group">
                        <a class="btn btn-small" href="{{url_for('alarms.knowledges_new')}}">创建</a>
                    </div>
                </div>
                <div class="alignleft filters input-append">
                    <input class="input-low" type="text" name="keyword" placeholder="名称" {% if keyword %} value="{{ keyword }}" {% endif %}>
                    <button type="submit" class="btn btn-small">检索</button>
                </div>
            </div>
            {{ render_table(table) }}
            <br class="clear">
            </form>
        </div>
    </div>

{% endblock %}

