{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/node.css" type="text/css" media="screen" />
    {{ form.media.render() }}
    <script type="text/javascript" src="/static/js/node.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#controller_id").select_change_ajax({
                id: "area_id",
                url: "{{ url_for('nodes.ajax_entrances_for_eoc') }}",
                option: "请选择接入点"
            });
        })
    </script>
{% endblock %}

{% block content %}

<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'cpes' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
        {% from "tango/_form_h.html" import render_field %}
        <form class="form-horizontal" method="POST" action="{{url_for('nodes.cpes_edit', id=node.id)}}">
            <h5><i class="icon-pencil"></i> 修改CPE</h5>
            <hr/>
            {% from "tango/_form_h.html" import render_field,render_areas,render_radio %}
            {{ form.hidden_tag() }}
            <fieldset>
              {{ render_field(form.controller_id, class="input-large") }}
              {{ render_field(form.area_id, class="input-large") }}
              {{ render_field(form.name) }}
              {{ render_field(form.alias) }}
              {{ render_field(form.mac) }}
              {{ render_field(form.vendor, class="input-large") }}
              {{ render_field(form.model, class="input-large") }}
              {{ render_field(form.esn) }}
            </fieldset>
            <fieldset>
              <legend>用户信息</legend>
              {{ render_field(form.owner) }}
              {{ render_field(form.card_id) }}
              {{ render_field(form.location) }}
              {{ render_field(form.install_time) }}
              {{ render_field(form.remark) }}
            </fieldset>

            <div class="form-actions span10">
                <button type="submit" class="btn btn-primary btn-small">确定</button>
                <a href="javascript:history.go(-1);" class="btn">取消</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

