{% set menuid = 'perf' %}
{% extends 'layout.html' %}

{% set title = '阀值设置' %}

{% from "_form_h.html" import render_field %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
      {% set submenuid = 'thresholds' %}
      {% include "perf/_sidebar.html" %}
    </div>
    
    <div class="span10">
	<div class="row-fluid">
	    <div class="">
		<form class="form-horizontal" method="POST"
                       action="{{ url_for('perf.thresholds_edit', id=id) }}">
                  {{ form.hidden_tag() }}
                  {{ render_field(form.alias) }}
                  {{ render_field(form.category) }}
                  {{ render_field(form.metric) }}
                  {{ render_field(form.alarm_class) }}
                  <legend>一级阀值设置</legend>                      
                  {{ render_field(form.occur_cond1) }}
                  {{ render_field(form.restore_cond1) }}
                  {{ render_field(form.severity1) }}
                  <legend>二级阀值设置</legend>                      
                  {{ render_field(form.occur_cond2) }}
                  {{ render_field(form.restore_cond2) }}
                  {{ render_field(form.severity2) }}
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn btn-primary">确定</button>
		      <a href="#" class="btn">取消</a>
		    </div>
		  </div>
		</form>
	    </div>
	</div>
        <br class="clear">
    </div>
</div>

{% endblock %}

