{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/detail.css" type="text/css" media="all">
    {% from 'tango/_base.html' import javascript, stylesheet %}
    {{ stylesheet("/static/css/nv.d3.css") }}
    {{ javascript("/static/js/nvd3/d3.v2.min.js") }}
    {{ javascript("/static/js/nvd3/nv.d3.min.js") }}
{% endblock %}

{% block content %}
<div class="row-fluid content">
    <div class="span2">
        {% set menuid = 'onus' %}
        {% include 'nodes/_sidebar.html' %}
    </div>

    <div class="span10">
            <h5 class="detail-title pull-left"><i class="icon-chevron-down"></i>ONU：{{ node.name }} </h5>
            <div class="btn-group pull-right">
                <a class="btn btn-small" href="/nodes/olts/{{ node.olt.id }}">所属OLT</a>
                <a class="btn btn-small" href="/nodes/olts/edit/{{ node.id }}"><i class="icon-pencil"></i>编辑</a>
            </div>
            <hr class="clear"/>
            <div class="span8" style="margin: 0;">
                <div class="detail">
                <table class="table">
                    <tr>
                        <td  width="17.5%" scope="col">ONU名称</td>
                        <td width="32.5%">{{ node.name }}</td>
                        <td  width="17.5%" scope="col">ONU别名</td>
                        <td>{{ node.alias }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">ONU状态</td>
                        <td>{{ node.status_name }}</td>
                        <td width="17.5%" scope="col">状态信息</td>
                        <td>{{ node.summary|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">IP 地址</td>
                        <td>{{ node.addr }}</td>
                        <td  width="17.5%" scope="col">MAC地址</td>
                        <td>{{ node.mac|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">厂商型号</td>
                        <td>{{ node.vendor.alias|ifnull }}{{ node.model.alias|ifnull }}</td>
                        <td  width="17.5%" scope="col">子网掩码</td>
                        <td>{{ node.mask|ifnull }}</td>
                    </tr>
                    <tr>
                        <td  width="17.5%" scope="col">所属区域</td>
                        <td>{{ node.area.full_name }}</td>
                        <td  width="17.5%" scope="col">位置信息</td>
                        <td>{{ node.location }}</td>
                    </tr>
                    <tr>
                        <td width="17.5%" scope="col">上次同步</td>
                        <td>{{ node.last_check|ifnull }}</td>
                        <td width="17.5%" scope="col">备注信息</td>
                        <td>{{ node.summary|ifnull }}</td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="span4">
                {% from "_nvd3_chart.html" import pie_chart %}
                {{ pie_chart("alarms_stats_by_severity", chartdata2) }}
            </div>
            <div class="clear"></div>
        <div style="height:20px"></div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#basic_info" data-toggle="tab">流量图</a></li>
                <li><a href="#snmp_info" data-toggle="tab">运行信息</a></li>
                <li><a href="#board_info" data-toggle="tab">板卡信息</a></li>
                <li><a href="#port_info" data-toggle="tab">端口信息</a></li>
            </ul>
            <div class="tab-content" >
                <div class="tab-pane active" id="basic_info">
                    {% from "_nvd3_chart.html" import traffic_chart %}
                    {{ traffic_chart("traffic", chartdata) }}
                </div>
                <div class="tab-pane detail" id="snmp_info">
                    <table class="table">
                        <tr>
                            <td width="17.5%" scope="col">读团体名</td>
                            <td>{{ node.snmp_comm|ifnull }}</td>
                            <td width="17.5%" scope="col">写团体名</td>
                            <td>{{ node.snmp_wcomm|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">SNMP端口</td>
                            <td>{{ node.snmp_port|ifnull }}</td>
                            <td width="17.5%" scope="col">SNMP版本</td>
                            <td>{{ node.snmp_ver|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">维护人员</td>
                            <td>{{ node.owner|ifnull }}</td>
                            <td width="17.5%" scope="col">SNMP OID</td>
                            <td>{{ node.sysoid|ifnull }}</td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">硬件版本</td>
                            <td></td>
                            <td width="17.5%" scope="col">软件版本</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">CPU利用率</td>
                            <td></td>
                            <td width="17.5%" scope="col">内存利用率</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">设备温度</td>
                            <td></td>
                            <td width="17.5%" scope="col">运行时间</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="17.5%" scope="col">用户口数量</td>
                            <td></td>
                            <td width="17.5%" scope="col">所属OLT</td>
                            <td>{{ node.olt.addr }}</td>
                        </tr>
                    </table>
                </div>
                <div id="board_info" class="tab-pane" style="height: auto; ">
                    {% include "nodes/onus/_boards.html" %}
                </div>
                <div id="port_info" class="tab-pane">
                    {% include "nodes/onus/_ports.html" %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

