<form class="form-horizontal" method="POST" action="{{url_for('system.metrics_delete', id=metric.id)}}">
  <fieldset>
    <div class="control-group ">
      <label class="control-label" >指标名称</label>
      <div class="controls">
	<input disabled="disabled" name="username" type="text" value="{{metric.alias}}">
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn btn-primary btn-danger">删除</button>
      </div>
    </div>
  </fieldset>
</form>
