{% extends 'layout.html' %}

{% set title = '指标管理' %}

{% block head %}

{% from "tango/_table_h.html" import render_table_profile %}
<script type="text/javascript">
  {{ render_table_profile(table) }}
</script>

{% endblock %}

{% from "tango/_table_h.html" import render_table, render_screen_meta, render_modal %}

{% block screen_meta %} {{ render_screen_meta(table) }} {% endblock %}

{% block content %} 
    <div class="row-fluid content">
        <div class="span2">
            {% set menuid = 'metrics' %}
            {% include "system/_sidebar.html" %}
        </div>
        <div class="span10">
          {% include "_alert.html" %}
            
          <form method="GET" class="form filter-form">
          {% from 'tango/_search_h.html' import render_keyword %}

          <div class="tablenav top">
            <div class="alignleft actions">
              <div class="alignleft btn-group">
                <a class="btn btn-small" href="/metrics/new"><i class="icon-plus"></i>新建指标</a>
              </div>
            </div>
            <div class="alignleft actions">
                {{ render_keyword(filterForm, "分组/名称/显示名") }}
            </div>
            <br class="clear">
          </div>

          </form>
          
          {{ render_table(table) }}
          {{ render_modal(['delete']) }}
        </div>
    </div>
{% endblock %}


