{% extends 'layout.html' %}

{% set menuid = 'alarms' %}

{% set title = '检索条件' %}

{% block head %} 
    <link rel="stylesheet" href="/static/css/alarm.css" type="text/css" media="all">
{% endblock %}

{% block content %}  

{% from "_table_h.html" import render_table %}

<div class="row-fluid content">
    <div class="span2">
        {% set submenuid = 'alarm-queries' %}
        {% include '/alarms/_sidebar.html' %}
    </div>
    <div class="span10">
        <form id="alarm-query-form" class="form-inline" action="{{url_for('alarms.queries')}}" method="GET">
        <div class="tablenav top">
            <div class="alignleft actions">
                <div class="alignleft btn-group">
                    <a class="btn btn-small" href="/alarms/queries/new">创建检索条件</a>
                </div>
            </div>
            <div class="alignleft filters">
                <input name='keyword' class="input-large" type="text">     
                <input type="submit" class="btn btn-small" value="过滤">
            </div>
        </div>
        {{ render_table(table) }}
        <br class="clear">
        </form>
    </div>
</div>

{% endblock %}
