
{% extends 'layout.html' %}

{% set title = '修改密码' %}

{% from "_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
      {% set menuid='change_password' %}
        {% include "settings/_sidebar.html" %}
    </div>
    
    <div class="span10">
      {% include "_alert.html" %}
      <form class="form-horizontal" method="POST" id="test-wtf" action="{{url_for('users.change_password')}}">
        {{ render_form_title(request, title) }}
	{{ form.hidden_tag() }}
        {{ render_field(form.oldpasswd) }}
        {{ render_field(form.newpasswd) }}
        {{ render_field(form.confirm) }}
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">保存修改</button>
	</div>
      </form>
    </div>
</div>

{% endblock %}
