{% extends 'layout.html' %}

{% set title = '用户信息' %}

{% from "_form_h.html" import render_field %}

{% block screen_meta %} {% endblock %}

{% block content %}

<div class="row-fluid" style="margin-top:20px">
    <div class="span2">
        {% include "settings/_sidebar.html" %}
    </div>
    
    <div class="span10">
      {% include "_alert.html" %}
      <form class="form-horizontal" method="POST" id="test-wtf" action="{{url_for('users.user_info')}}">
	{{ form.hidden_tag() }}
        {{ render_field(form.name, class="input-medium") }}
        {{ render_field(form.role_name, disabled="disabled") }}
        {{ render_field(form.domain_name, disabled="disabled") }}
        {{ render_field(form.department) }}
        {{ render_field(form.email) }}
        {{ render_field(form.telephone, class="input-xlarge") }}
        {{ render_field(form.mobile, class="input-xlarge") }}
        {{ render_field(form.memo, rows=4, class="input-xlarge") }}
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">保存修改</button>
	</div>
      </form>
    </div>
</div>

{% endblock %}
