{% extends 'layout.html' %}

{% set title = '修改主机信息' %}

{% from "tango/_form_h.html" import render_field, render_form_title %}

{% block content %}
<div class="row-fluid content">
  <div class="span2">
    {% set menuid = 'hosts' %}
    {% include "system/_sidebar.html" %}
  </div>
  
  <div class="span10">
    <form class="form-horizontal" method="POST" action="{{ url_for('system.hosts_edit', id=host.id) }}">
      {{ render_form_title(request, title) }}
      <fieldset>
	{{ form.hidden_tag() }}
        {{ render_field(form.name, readonly="readonly") }}
        {{ render_field(form.alias) }}
        {{ render_field(form.ifaces, readonly="readonly") }}
        {{ render_field(form.remark) }}
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">确定</button>
	  <a href="#" class="btn">取消</a>
	</div>
      </fieldset>		    
    </form>
  </div>
</div>

{% endblock %}
