{% extends 'layout.html' %}

{% set menuid = 'system' %}

{% set title = '字典管理' %}

{% block head %}
{% from "_table_h.html" import render_table_profile %}

<script type="text/javascript">
    {{ render_table_profile(table) }} 
</script>
{% endblock %}


{% from "_table_h.html" import render_table, render_screen_meta %}
{% block screen_meta %}
    {{ render_screen_meta(table) }}
{% endblock %}


{% block content %}
    <div class="row-fluid content">
        <div class="span2">
            {% set submenuid = 'dict_codes' %}
            {% include 'system/_sidebar.html' %}
        </div>
        <div class="span10">
          <div class="tablenav top">
            <div class="alignleft actions">
              <div class="alignleft btn-group">
                <a class="btn" href="/dict-codes/new">新建</a>
              </div>
            </div>
            <div class="alignleft actions">
              <form method="GET" id="" class="form-inline" action="">
                {{ form.is_valid(style="width:auto;") }}
                {{ form.type(style="width:auto;") }}
                <button class="btn" type="submit">检索</button>
              </form>
            </div>

          </div>

          {% include "_alert.html" %}
          {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

